Repository lambdaclass/ethrex, pull requests merged in 2024-11, with the labels that each got.

#1052 feat(levm): general refactors
  crates/vm/levm/Cargo.toml
  crates/vm/levm/bench/revm_comparison/Cargo.toml
  crates/vm/levm/bench/revm_comparison/src/lib.rs
  crates/vm/levm/src/account.rs
  crates/vm/levm/src/block.rs
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/db.rs
  crates/vm/levm/src/environment.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/lib.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/bitwise_comparison.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/dup.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/exchange.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/mod.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/operations.rs
  crates/vm/levm/src/primitives.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1056 fix(l2): contracts
  crates/l2/contracts/src/l1/CommonBridge.sol
  crates/l2/contracts/src/l1/interfaces/IOnChainProposer.sol
Labels: L2

#946 feat(levm): opcodes revert invalid selfdestruct
  crates/vm/levm/docs/substate.md
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/db.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/opcodes.rs
  crates/vm/levm/src/operations.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1063 fix(levm): fix generic_call
  crates/vm/levm/src/vm.rs
Labels: levm

#1065 fix(levm): fix world state error between levm and revm. balance substraction
  crates/vm/levm/src/vm.rs
Labels: levm

#1053 feat(levm): add sload gas consumption
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
Labels: levm

#1071 fix(l2): prover add fixes
  crates/l2/proposer/mod.rs
  crates/l2/prover/zkvm/interface/guest/Cargo.toml
Labels: L2

#1068 fix(levm): fix calldataload (and add sload gas consumption)
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1064 feat(levm): prepare levm-ethereum-rust-integration for merge
  cmd/ethereum_rust/Cargo.toml
  crates/blockchain/Cargo.toml
  crates/blockchain/blockchain.rs
  crates/vm/Cargo.toml
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
  crates/vm/vm.rs
Labels: levm

#1101 chore(l2): update `.env.example`
  crates/l2/.env.example
Labels: L2

#1104 feat(l2): contracts CI
  .github/workflows/l2_contracts.yaml
  Makefile
  crates/l2/contracts/deployer.rs
Labels: L2

#1029 feat(levm): ethereum rust integration
  cmd/ethereum_rust/Cargo.toml
  crates/blockchain/Cargo.toml
  crates/blockchain/blockchain.rs
  crates/common/types/transaction.rs
  crates/vm/Cargo.toml
  crates/vm/db.rs
  crates/vm/levm/Cargo.toml
  crates/vm/levm/Makefile
  crates/vm/levm/bench/revm_comparison/Cargo.toml
  crates/vm/levm/src/db.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
  crates/vm/vm.rs
Labels: levm

#1015 feat(l2): implement state diffs
  crates/blockchain/dev/Cargo.toml
  crates/blockchain/dev/block_producer.rs
  crates/common/types/transaction.rs
  crates/l2/Cargo.toml
  crates/l2/contracts/src/l1/CommonBridge.sol
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/contracts/src/l1/interfaces/ICommonBridge.sol
  crates/l2/contracts/src/l1/interfaces/IOnChainProposer.sol
  crates/l2/docs/state_diffs.md
  crates/l2/proposer/errors.rs
  crates/l2/proposer/mod.rs
  crates/l2/proposer/state_diff.rs
  crates/l2/utils/eth_client/mod.rs
  crates/l2/utils/eth_client/transaction.rs
  crates/networking/rpc/types/transaction.rs
  crates/vm/vm.rs
Labels: L2

#1079 feat(levm): ethereum foundation tests setup
  .github/workflows/ci.yaml
  .github/workflows/levm_ef.yaml
  crates/vm/Cargo.toml
  crates/vm/levm/.gitignore
  crates/vm/levm/Cargo.toml
  crates/vm/levm/Makefile
  crates/vm/levm/tests/ef/deserialize.rs
  crates/vm/levm/tests/ef/mod.rs
  crates/vm/levm/tests/ef/report.rs
  crates/vm/levm/tests/ef/runner.rs
  crates/vm/levm/tests/ef/test.rs
  crates/vm/levm/tests/lib.rs
Labels: ef-tests, levm

#1090 fix(levm): fix revert cases for contracts to run correctly
  crates/blockchain/blockchain.rs
  crates/blockchain/payload.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/vm.rs
  crates/vm/vm.rs
Labels: levm

#1130 fix(levm): avoid panicking in ef tests
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/ef/runner.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1122 fix(levm): fix create2 address generation
  crates/vm/levm/src/vm.rs
Labels: levm

#1004 feat(l2): integration test + SDK first version
  .github/workflows/l2_prover_ci.yaml
  Cargo.toml
  Makefile
  cmd/ethereum_rust_l2/Cargo.toml
  cmd/ethereum_rust_l2/src/commands/wallet.rs
  crates/blockchain/dev/docker-compose-dev.yaml
  crates/common/types/transaction.rs
  crates/l2/Cargo.toml
  crates/l2/Dockerfile
  crates/l2/Makefile
  crates/l2/contracts/Cargo.toml
  crates/l2/contracts/Dockerfile
  crates/l2/contracts/deployer.rs
  crates/l2/docker-compose-l2.yaml
  crates/l2/proposer/mod.rs
  crates/l2/prover/zkvm/interface/Cargo.toml
  crates/l2/sdk/Cargo.toml
  crates/l2/sdk/src/sdk.rs
  crates/l2/tests/tests.rs
  crates/l2/utils/config/mod.rs
  crates/l2/utils/eth_client/eth_sender.rs
  crates/l2/utils/eth_client/mod.rs
  crates/networking/rpc/types/block.rs
  crates/networking/rpc/types/transaction.rs
  crates/vm/levm/Cargo.toml
Labels: L2

#1085 fix(levm): fixes several bugs found when running the EF tests
  .github/workflows/ci_skipped.yaml
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/exchange.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/opcodes.rs
  crates/vm/levm/src/operations.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/ef/report.rs
  crates/vm/levm/tests/ef/runner.rs
  crates/vm/levm/tests/ef/test.rs
  crates/vm/levm/tests/tests.rs
  crates/vm/vm.rs
Labels: levm

#1151 feat(levm): unify CI
  .github/workflows/ci_levm.yaml
  .github/workflows/levm_bench.yaml
  .github/workflows/levm_ef.yaml
  crates/vm/levm/src/environment.rs
Labels: levm

#1106 feat(l2): write contracts' addresses to .env file
  crates/l2/contracts/deployer.rs
  crates/l2/utils/config/mod.rs
Labels: L2

#1110 fix(levm): handle type conversions
  crates/vm/levm/Cargo.toml
  crates/vm/levm/src/account.rs
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/lib.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/dup.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/exchange.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/opcodes.rs
  crates/vm/levm/src/operations.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1142 refactor(l2): simplify transactions creation
  Cargo.toml
  cmd/ethereum_rust_l2/Cargo.toml
  cmd/ethereum_rust_l2/src/commands/stack.rs
  cmd/ethereum_rust_l2/src/commands/test.rs
  cmd/ethereum_rust_l2/src/commands/wallet.rs
  cmd/ethereum_rust_l2/src/config.rs
  cmd/ethereum_rust_l2/src/utils/config/mod.rs
  crates/common/Cargo.toml
  crates/common/rlp/encode.rs
  crates/common/types/transaction.rs
  crates/l2/Cargo.toml
  crates/l2/contracts/Cargo.toml
  crates/l2/contracts/deployer.rs
  crates/l2/proposer/l1_watcher.rs
  crates/l2/proposer/mod.rs
  crates/l2/sdk/Cargo.toml
  crates/l2/sdk/src/sdk.rs
  crates/l2/tests/tests.rs
  crates/l2/utils/config/l1_watcher.rs
  crates/l2/utils/config/proposer.rs
  crates/l2/utils/eth_client/errors.rs
  crates/l2/utils/eth_client/eth_sender.rs
  crates/l2/utils/eth_client/mod.rs
  crates/l2/utils/eth_client/transaction.rs
  crates/l2/utils/mod.rs
Labels: L2

#1109 fix(levm): handle expects
  crates/vm/levm/Cargo.toml
  crates/vm/levm/src/db.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1137 chore(l2): add better ui and random salt for deployer
  crates/l2/.env.example
  crates/l2/contracts/Cargo.toml
  crates/l2/contracts/deployer.rs
Labels: L2

#1107 fix(levm): handle slicing and indexing errors
  crates/vm/levm/Cargo.toml
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/operations.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1149 fix(levm): create2 address generation
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1113 feat(levm): add gas refunds for sstore
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
Labels: levm

#1114 feat(levm): initialize cache with sender, recipient and coinbase accounts
  crates/vm/levm/src/account.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1161 fix(levm): fixing main
  crates/vm/levm/src/vm.rs
Labels: levm

#1138 feat(levm): refactor gas cost
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/lib.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/bitwise_comparison.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/dup.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/exchange.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1095 fix(levm): prevent unsafe arithmetic
  crates/vm/levm/Cargo.toml
  crates/vm/levm/src/account.rs
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/db.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/lib.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/bitwise_comparison.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/dup.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/exchange.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/operations.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/ef/report.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1170 fix(levm): remove implicit as conversions
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1172 feat(levm): move `levm` EF tests to `cmd/ef_tests` dir
  .gitignore
  Cargo.toml
  Makefile
  cmd/ef_tests/ethereum_rust/Cargo.toml
  cmd/ef_tests/ethereum_rust/ef_tests.rs
  cmd/ef_tests/ethereum_rust/network.rs
  cmd/ef_tests/ethereum_rust/test_runner.rs
  cmd/ef_tests/ethereum_rust/tests/cancun.rs
  cmd/ef_tests/ethereum_rust/tests/shanghai.rs
  cmd/ef_tests/ethereum_rust/types.rs
  cmd/ef_tests/levm/Cargo.toml
  cmd/ef_tests/levm/deserialize.rs
  cmd/ef_tests/levm/ef_tests.rs
  cmd/ef_tests/levm/report.rs
  cmd/ef_tests/levm/runner.rs
  cmd/ef_tests/levm/tests/test.rs
  cmd/ef_tests/levm/types.rs
  crates/vm/Cargo.toml
  crates/vm/levm/Cargo.toml
  crates/vm/levm/Makefile
  crates/vm/levm/bench/revm_comparison/Cargo.toml
  crates/vm/levm/tests/ef/mod.rs
  crates/vm/levm/tests/lib.rs
Labels: levm

#1175 feat(levm): run all posible transaction of each testcase
  cmd/ef_tests/levm/deserialize.rs
  cmd/ef_tests/levm/report.rs
  cmd/ef_tests/levm/runner.rs
  cmd/ef_tests/levm/types.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#1158 chore(l2): add L2 integration test to CI
  .github/workflows/ci.yaml
  crates/l2/.env.example
  crates/l2/Makefile
  crates/l2/contracts/Dockerfile
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/contracts/src/l1/interfaces/IOnChainProposer.sol
  crates/l2/docker-compose-l2.yaml
  crates/l2/proposer/l1_committer.rs
  crates/l2/proposer/l1_watcher.rs
  crates/l2/proposer/prover_server.rs
  crates/l2/tests/tests.rs
  crates/l2/utils/config/prover_server.rs
  crates/l2/utils/eth_client/mod.rs
  test_data/genesis-l2.json
Labels: L2

#1188 fix(levm): opcode EXTCODECOPY security bug
  crates/vm/levm/Cargo.toml
  crates/vm/levm/clippy.toml
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/tests/edge_case_tests.rs
  crates/vm/levm/tests/lib.rs
Labels: bug, levm

#1179 feat(l2): persist lastVerifiedBlock in prover_server
  crates/l2/proposer/l1_committer.rs
  crates/l2/proposer/prover_server.rs
  crates/l2/utils/eth_client/errors.rs
  crates/l2/utils/eth_client/mod.rs
Labels: L2

#1180 refactor(l2): use l1 block producer for the l2
  cmd/ethereum_rust/ethereum_rust.rs
  crates/blockchain/dev/block_producer.rs
  crates/blockchain/dev/utils/engine_client/errors.rs
  crates/blockchain/dev/utils/engine_client/mod.rs
  crates/l2/proposer/mod.rs
Labels: L2

#1177 feat(levm): handle `levm` EF post state
  cmd/ef_tests/levm/Cargo.toml
  cmd/ef_tests/levm/ef_tests.rs
  cmd/ef_tests/levm/runner.rs
  cmd/ef_tests/levm/types.rs
  cmd/ef_tests/levm/utils.rs
  crates/common/types/genesis.rs
  crates/vm/db.rs
Labels: ef-tests, levm

#1193 feat(levm): add edge case tests suggested by Fuzzing Labs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1205 feat(l2): add deposit watcher checks
  crates/l2/.env.example
  crates/l2/contracts/src/l1/CommonBridge.sol
  crates/l2/contracts/src/l1/interfaces/ICommonBridge.sol
  crates/l2/proposer/l1_watcher.rs
  crates/l2/proposer/prover_server.rs
  crates/l2/utils/config/l1_watcher.rs
Labels: L2

#1207 fix(l2): continue if address is not present when creating ExecutionDB
  crates/l2/prover/tests/perf_zkvm.rs
  crates/vm/execution_db.rs
Labels: L2

#1225 feat(levm): ensure returned errors are correct
  cmd/ef_tests/levm/deserialize.rs
  cmd/ef_tests/levm/runner.rs
  cmd/ef_tests/levm/types.rs
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#1231 feat(levm): improve revert behavior and reorganize transact
  cmd/ef_tests/levm/runner.rs
  crates/vm/levm/docs/validations.md
  crates/vm/levm/src/db.rs
  crates/vm/levm/src/environment.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1241 fix(levm): handle sdiv with zero dividend and negative divisor
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1206 refactor(levm): ef test runner
  .gitignore
  cmd/ef_tests/levm/Cargo.toml
  cmd/ef_tests/levm/deserialize.rs
  cmd/ef_tests/levm/ef_tests.rs
  cmd/ef_tests/levm/parser.rs
  cmd/ef_tests/levm/report.rs
  cmd/ef_tests/levm/runner.rs
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/mod.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
  cmd/ef_tests/levm/tests/ef_tests_levm.rs
  cmd/ef_tests/levm/tests/test.rs
  cmd/ef_tests/levm/types.rs
  cmd/ef_tests/levm/utils.rs
  crates/common/types/account.rs
  crates/storage/store/storage.rs
  crates/vm/levm/src/account.rs
  crates/vm/levm/src/errors.rs
  crates/vm/vm.rs
Labels: ef-tests, levm

#1261 fix(levm): makefile EVM EF tests run command
  .github/workflows/ci_levm.yaml
  crates/vm/levm/Makefile
Labels: levm

#1248 fix(levm): remove the push for success in return
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1265 fix(levm): fix revm_runner test execution
  cmd/ef_tests/levm/runner/revm_runner.rs
Labels: levm

#1258 fix(levm): prevent inefficient memory allocation in extcodecopy
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1263 fix(levm): add memory alignment in extcodecopy
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1271 chore(l2): rename cli's binary
  cmd/ethrex_l2/Cargo.toml
Labels: L2

#1234 refactor(l2): restart processes with the proposed API
  cmd/ethrex_l2/src/commands/test.rs
  cmd/ethrex_l2/src/commands/wallet.rs
  crates/l2/Makefile
  crates/l2/contracts/deployer.rs
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/proposer/errors.rs
  crates/l2/proposer/l1_committer.rs
  crates/l2/proposer/l1_watcher.rs
  crates/l2/proposer/mod.rs
  crates/l2/proposer/prover_server.rs
  crates/l2/sdk/src/sdk.rs
  crates/l2/utils/eth_client/errors.rs
  crates/l2/utils/eth_client/eth_sender.rs
  crates/l2/utils/eth_client/mod.rs
  crates/l2/utils/mod.rs
Labels: L2

#1256 fix(levm): non-compliant `CALLDATACOPY`
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1307 feat(levm, l1, l2): add levm logs to tx receipts
  crates/vm/vm.rs
Labels: levm

#1309 fix(levm): `addmod` non-compliance
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1280 feat(levm): track initial account states to compare with the updated ones
  cmd/ef_tests/levm/report.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
Labels: ef-tests, levm

#1311 fix(levm): `codecopy` unnecessary memory allocation
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1305 fix(levm): `smod` non-compliance
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/tests/edge_case_tests.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1275 feat(levm): running all ef tests with revm and fixing problems
  cmd/ef_tests/levm/deserialize.rs
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/mod.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
  cmd/ef_tests/levm/types.rs
Labels: levm

#1299 feat(l2): info command
  cmd/ethrex_l2/src/cli.rs
  cmd/ethrex_l2/src/commands/config.rs
  cmd/ethrex_l2/src/commands/info.rs
  cmd/ethrex_l2/src/commands/mod.rs
  cmd/ethrex_l2/src/config.rs
  cmd/ethrex_l2/src/utils/config/default_values.rs
  cmd/ethrex_l2/src/utils/config/mod.rs
  cmd/ethrex_l2/src/utils/messages.rs
  crates/l2/.env.example
  crates/l2/Makefile
  crates/l2/utils/eth_client/mod.rs
Labels: L2

#1327 fix(levm): `extcodecopy` non-compliance patch bug
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1289 chore(l2): forbid expects
  crates/l2/Cargo.toml
  crates/l2/clippy.toml
  crates/l2/contracts/Cargo.toml
  crates/l2/contracts/deployer.rs
  crates/l2/proposer/l1_committer.rs
  crates/l2/proposer/l1_watcher.rs
  crates/l2/proposer/mod.rs
  crates/l2/proposer/prover_server.rs
  crates/l2/prover/Cargo.toml
  crates/l2/prover/src/main.rs
  crates/l2/prover/tests/perf_zkvm.rs
  crates/l2/sdk/Cargo.toml
  crates/l2/sdk/src/sdk.rs
  crates/l2/tests/tests.rs
  crates/l2/utils/config/errors.rs
  crates/l2/utils/test_data_io.rs
Labels: L2

#1216 feat(l2): estimate blob_gas when sending the commitment
  crates/l2/.env.example
  crates/l2/proposer/errors.rs
  crates/l2/proposer/l1_committer.rs
  crates/l2/utils/config/committer.rs
  crates/l2/utils/eth_client/errors.rs
  crates/l2/utils/eth_client/mod.rs
  crates/networking/rpc/types/block.rs
Labels: L2

#1336 fix(levm): ef tests reporter
  cmd/ef_tests/levm/report.rs
Labels: levm

#1314 feat(levm): cache refactor
  cmd/ef_tests/levm/runner/levm_runner.rs
  crates/vm/levm/src/account.rs
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/db/cache.rs
  crates/vm/levm/src/db/mod.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
  crates/vm/vm.rs
Labels: levm

#1338 refactor(levm): safe `mod` implementation
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
Labels: levm

#1332 feat(levm): add test dir summary
  cmd/ef_tests/levm/Cargo.toml
  cmd/ef_tests/levm/deserialize.rs
  cmd/ef_tests/levm/parser.rs
  cmd/ef_tests/levm/report.rs
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
  cmd/ef_tests/levm/types.rs
Labels: levm

#1337 fix(levm): `mulmod` implementation
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
Labels: levm

#1330 fix(levm): `log`x non-compliance memory allocation
  crates/vm/levm/src/memory.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1341 fix(levm): ef tests reporter
  .github/scripts/publish_levm_ef_tests_summary.sh
  .github/workflows/levm_reporter.yaml
Labels: levm

#1210 fix(l2): use nonce diff in state diff
  crates/l2/proposer/errors.rs
  crates/l2/proposer/l1_committer.rs
  crates/l2/proposer/state_diff.rs
Labels: L2

#1319 feat(levm): error handling ef_tests (Part 1)
  .github/workflows/ci_levm.yaml
  cmd/ef_tests/levm/runner/levm_runner.rs
  crates/l2/contracts/Cargo.lock
  crates/vm/levm/bench/revm_comparison/src/lib.rs
  crates/vm/levm/rust-toolchain.toml
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/environment.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/edge_case_tests.rs
  crates/vm/levm/tests/tests.rs
  crates/vm/vm.rs
Labels: levm

#1353 fix(levm): ef tests run summary file paths
  .github/scripts/publish_levm_ef_tests_summary.sh
  .github/workflows/levm_reporter.yaml
Labels: levm

#1356 fix(l1, l2, levm): slack messages
  .github/scripts/publish_levm_ef_tests_summary.sh
  .github/scripts/publish_loc.sh
  .gitignore
  cmd/ef_tests/levm/report.rs
  cmd/loc/src/main.rs
Labels: levm, L2, L1

#1328 fix(levm): `codecopy` memory allocation
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1281 fix(levm): vm tests fix changes
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#1288 fix(l1): remove "inconsistent internal tree structure" panics
  crates/l2/prover/zkvm/interface/src/lib.rs
  crates/storage/trie/error.rs
  crates/storage/trie/node/branch.rs
  crates/storage/trie/node/extension.rs
  crates/storage/trie/trie.rs
Labels: L1

#1333 fix(levm): fixing vm arithmetic tests changes
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/bitwise_comparison.rs
Labels: ef-tests, levm
