Repository lambdaclass/ethrex, pull requests merged in 2024-12, with the labels that each got.

#1375 feat(l1): add success percentage to the hive report
  cmd/hive_report/src/main.rs
Labels: L1

#1370 fix(levm): lint
  crates/storage/trie/db/utils.rs
  crates/vm/levm/Cargo.toml
Labels: levm

#1350 feat(levm): improve LEVM EF Tests report
  cmd/ef_tests/levm/report.rs
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
Labels: levm

#1368 fix(levm): next opcode handling
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcodes.rs
  crates/vm/levm/src/operations.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1367 refactor(l2): forbid panics
  Cargo.lock
  crates/l2/Cargo.toml
  crates/l2/contracts/Cargo.toml
  crates/l2/contracts/deployer.rs
  crates/l2/proposer/mod.rs
  crates/l2/prover/Cargo.toml
  crates/l2/prover/src/main.rs
  crates/l2/sdk/Cargo.toml
  crates/l2/sdk/src/sdk.rs
Labels: L2

#1345 feat(levm): fix validation errors (part 2) and some extra things
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
  cmd/ef_tests/levm/utils.rs
  crates/vm/levm/docs/validations.md
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/vm.rs
  crates/vm/vm.rs
Labels: levm

#1396 feat(levm): disable spinner tests
  cmd/ef_tests/levm/parser.rs
  cmd/ef_tests/levm/runner/mod.rs
Labels: levm

#1400 fix(levm): storage modification gas cost was off
  crates/vm/levm/src/gas_cost.rs
Labels: levm

#1401 feat(l2): standalone test target
  .github/workflows/ci_l2.yaml
  crates/l2/Makefile
Labels: L2

#1394 feat(levm): improve LEVM EFTests (skip tests, disable spinner flag, execute individual tests)
  .github/workflows/ci_levm.yaml
  cmd/ef_tests/levm/parser.rs
  cmd/ef_tests/levm/runner/mod.rs
  cmd/ef_tests/levm/utils.rs
  crates/vm/levm/Makefile
Labels: levm

#1410 fix(levm): fix gas refunds
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#1409 feat(l2): deploy `Verifier` contracts conditionally
  crates/l2/.env.example
  crates/l2/contracts/deployer.rs
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/contracts/src/l1/interfaces/IOnChainProposer.sol
  crates/l2/contracts/src/l1/interfaces/ISP1Verifier.sol
Labels: L2

#1402 fix(levm): ginitcodeword specification, fix gas
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1403 refactor(levm): memory module
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1407 fix(levm): move the pc incrementation after the opcode is executed
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1418 fix(l2): prover ci
  .github/workflows/ci_l2_prover.yaml
  Cargo.lock
  crates/blockchain/dev/block_producer.rs
  crates/blockchain/dev/utils/engine_client/mod.rs
  crates/l2/Cargo.toml
  crates/l2/prover/Cargo.toml
  crates/l2/prover/zkvm/interface/Cargo.toml
  crates/l2/prover/zkvm/interface/guest/Cargo.toml
  crates/networking/rpc/engine/fork_choice.rs
  crates/networking/rpc/engine/payload.rs
Labels: L2

#1425 fix(levm): state transition function
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
Labels: levm

#1426 fix(levm): do not transfer value twice to created contracts
  crates/vm/levm/src/vm.rs
Labels: levm

#1427 fix(levm): codesize oog invalid size
  crates/vm/levm/src/vm.rs
Labels: levm

#1421 fix(levm): prevent offset overflow in calldatacopy
  crates/vm/levm/src/opcode_handlers/environment.rs
Labels: ef-tests, levm

#1435 ci(levm): improve speed for tests (and CI) and solve depth problem
  cmd/ef_tests/levm/Makefile
  cmd/ef_tests/levm/parser.rs
  cmd/ef_tests/levm/runner/mod.rs
  cmd/ef_tests/levm/utils.rs
  crates/vm/levm/Makefile
Labels: levm

#1420 fix(levm): op codesize gas
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1408 fix(levm): opcode SIGNEXTEND
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/bitwise_comparison.rs
Labels: levm

#1430 refactor(levm): opcode DupN, LogN and SwapN
  crates/vm/levm/src/opcode_handlers/dup.rs
  crates/vm/levm/src/opcode_handlers/exchange.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1446 fix(levm): add release flag to generate-evm-ef-tests-report
  crates/vm/levm/Makefile
Labels: levm

#1389 chore(l2): trying to implement no_panic crate
  crates/common/types/block.rs
  crates/l2/Cargo.toml
  crates/l2/proposer/errors.rs
  crates/l2/proposer/l1_committer.rs
  crates/l2/proposer/prover_server.rs
  crates/l2/prover/src/prover_client.rs
Labels: L2

#1321 refactor(l2): l1_watcher make deposits unique
  crates/common/types/transaction.rs
  crates/l2/.env.example
  crates/l2/contracts/src/l1/CommonBridge.sol
  crates/l2/contracts/src/l1/interfaces/ICommonBridge.sol
  crates/l2/proposer/errors.rs
  crates/l2/proposer/l1_committer.rs
  crates/l2/proposer/l1_watcher.rs
  crates/l2/proposer/state_diff.rs
  crates/l2/utils/config/l1_watcher.rs
  crates/l2/utils/eth_client/mod.rs
Labels: L2

#1434 fix(levm): avoid jumpdest in push args
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: ef-tests, levm

#1448 fix(levm): fixing selfdestruct (missing check, destroy accounts at the end of transaction) and modifying substate
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1447 feat(levm): access lists support
  cmd/ef_tests/levm/runner/levm_runner.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
  crates/vm/vm.rs
Labels: levm

#1462 fix(levm): fix extcodecopy gas cost
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
Labels: levm

#1467 fix(levm): fix gas consumption in call and delegatecall opcodes
  crates/vm/levm/src/gas_cost.rs
Labels: ef-tests, levm

#1463 fix(levm): fix implementation selfbalance
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/block.rs
Labels: levm

#1468 fix(levm): use default storage slots
  crates/vm/levm/src/vm.rs
Labels: levm

#1459 feat(levm): ensure errors are right (adaptation)
  cmd/ef_tests/levm/deserialize.rs
  cmd/ef_tests/levm/report.rs
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/mod.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
  cmd/ef_tests/levm/types.rs
  crates/vm/levm/src/environment.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1464 fix(levm): change gas to return in `post_execution_changes`
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1473 feat(levm): add precompiled contracts addresses to cache
  crates/vm/levm/src/vm.rs
Labels: levm

#1484 fix(levm): improve test reports
  cmd/ef_tests/levm/report.rs
Labels: levm

#1485 fix(levm): mulmod should not overflow
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
Labels: levm

#1491 fix(levm): revert transfer value when tx reverts in generic call
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#1486 docs(levm): documentation
  crates/vm/levm/README.md
  crates/vm/levm/docs/faq.md
Labels: levm

#1498 fix(levm): change the checked_add to saturating_add in `CALL` and `CALLCODE`
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1502 fix(levm): fix returndatacopy
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/tests/edge_case_tests.rs
Labels: levm

#1460 fix(levm): fix errors in create
  crates/vm/levm/src/account.rs
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1504 fix(levm): wrong up_front_cost calculation
  crates/vm/levm/src/vm.rs
Labels: levm

#1492 fix(levm): fix transfer value in call, organize call opcodes and other fixes
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1454 feat(levm): precompiles support scaffolding
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/lib.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1501 refactor(levm): organize callframe
  crates/vm/levm/bench/revm_comparison/src/lib.rs
  crates/vm/levm/docs/callframe.md
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1503 fix(levm): change in `extcodehash`
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1515 fix(levm): correctly return outOfBounds in RETURNDATACOPY
  crates/vm/levm/src/opcode_handlers/environment.rs
Labels: levm

#1519 fix(levm): don't show semantic differences as real differences in report
  cmd/ef_tests/levm/report.rs
Labels: levm

#1513 fix(levm): move code deposit cost of CREATE
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1524 fix(levm): code_deposit_cost was not deducted in CREATE type tx
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1520 feat(levm): implement precompile sha2-256
  Cargo.lock
  crates/vm/levm/Cargo.toml
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1526 fix(levm): add last precompile to touched accounts in vm new
  crates/vm/levm/src/vm.rs
Labels: levm

#1527 fix(levm): created account in create type tx was not added to substate
  crates/vm/levm/src/vm.rs
Labels: levm

#1523 fix(levm): create to an existing address
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1529 fix(core): block_producer
  crates/blockchain/dev/block_producer.rs
Labels: L1

#1530 fix(levm): change initial value of gas refund in sstore
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
Labels: levm

#1535 fix(levm): subreturn data was not cleared in create
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1509 fix(levm): change blobhash fee calculation
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1532 fix(levm): reserve gas for subcall in CREATE
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1538 fix(levm): create address should remain touched even in fails
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1544 fix(levm): copy return data if callframe reverts in generic_create
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1551 chore(levm): ignore some json files we dont want to fix for now
  cmd/ef_tests/levm/parser.rs
Labels: levm

#1540 fix(levm): initialization of transient storage
  cmd/ef_tests/levm/runner/levm_runner.rs
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/environment.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/tests/tests.rs
  crates/vm/vm.rs
Labels: levm

#1552 fix(levm): transient storage should be reverted when callframe reverts
  crates/vm/levm/src/vm.rs
Labels: levm

#1553 fix(levm): clear sub_return_data in generic_call()
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1554 fix(levm): fix logs address
  crates/vm/levm/src/opcode_handlers/logging.rs
Labels: levm

#1531 fix(levm): fix interaction with cache and db
  crates/vm/levm/src/vm.rs
Labels: levm

#1545 feat(levm): implement precompile ecmul
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1522 feat(levm): more precompiles implementation
  Cargo.lock
  crates/vm/levm/Cargo.toml
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1533 feat(levm): implement precompile ecadd
  Cargo.lock
  crates/vm/levm/Cargo.toml
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1558 fix(levm): mcopy should resize to the biggest offset
  crates/vm/levm/src/memory.rs
Labels: levm

#1556 fix(levm): resize memory in `generic_call` before any validation
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: bug, levm

#1397 feat(l2): multi prover foundations
  .github/workflows/ci_l2_prover.yaml
  Cargo.lock
  cmd/ethrex/Cargo.toml
  cmd/ethrex_l2/src/commands/prove.rs
  cmd/ethrex_l2/src/commands/stack.rs
  crates/l2/.env.example
  crates/l2/Cargo.toml
  crates/l2/Makefile
  crates/l2/contracts/deployer.rs
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/contracts/src/l1/interfaces/IOnChainProposer.sol
  crates/l2/contracts/src/l1/interfaces/ISP1Verifier.sol
  crates/l2/docs/README.md
  crates/l2/docs/prover.md
  crates/l2/proposer/l1_committer.rs
  crates/l2/proposer/prover_server.rs
  crates/l2/prover/Cargo.toml
  crates/l2/prover/Makefile
  crates/l2/prover/src/errors.rs
  crates/l2/prover/src/lib.rs
  crates/l2/prover/src/main.rs
  crates/l2/prover/src/prover.rs
  crates/l2/prover/src/prover_client.rs
  crates/l2/prover/tests/perf_zkvm.rs
  crates/l2/prover/zkvm/interface/Cargo.toml
  crates/l2/prover/zkvm/interface/build.rs
  crates/l2/prover/zkvm/interface/risc0/Cargo.toml
  crates/l2/prover/zkvm/interface/risc0/NOTICE
  crates/l2/prover/zkvm/interface/risc0/src/main.rs
  crates/l2/prover/zkvm/interface/sp1/Cargo.toml
  crates/l2/prover/zkvm/interface/sp1/NOTICE
  crates/l2/prover/zkvm/interface/sp1/elf/riscv32im-succinct-zkvm-elf
  crates/l2/prover/zkvm/interface/sp1/src/main.rs
  crates/l2/prover/zkvm/interface/src/lib.rs
  crates/l2/utils/config/errors.rs
  crates/l2/utils/eth_client/mod.rs
Labels: L2

#1559 fix(levm): sstore refund logic
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
Labels: levm

#1561 fix(levm): key of transient storage
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1560 feat(levm): implement precompile ecpairing
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1564 fix(levm): move insufficient max fee per blob gas check in `prepare_execution`
  crates/vm/levm/src/vm.rs
Labels: levm

#1562 fix(levm): fix call stipend in CALL, CALLCODE
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1565 fix(levm): early return could consume more gas than gas_limit
  crates/vm/levm/src/precompiles.rs
Labels: levm

#1566 fix(levm): remove accounts in selfdestruct
  cmd/ef_tests/levm/runner/levm_runner.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1568 feat(levm): change gas type from U256 to u64 pt. 2
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: tech debt, levm

#1567 feat(levm): hive LEVM CI
  .github/scripts/publish_levm_hive.sh
  .github/workflows/daily_reports_testing.yaml
  .gitignore
  Dockerfile
  cmd/ethrex/ethrex.rs
  crates/blockchain/Cargo.toml
  crates/l2/Makefile
  crates/vm/Cargo.toml
  crates/vm/levm/Makefile
Labels: levm

#1570 fix(levm): change error to empty bytes in ecrecover
  crates/vm/levm/src/precompiles.rs
Labels: levm

#1571 refactor(levm): gas cost in return and revert
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1546 feat(levm): run hive tests with levm, generate and publish report
  .github/scripts/publish_levm_hive.sh
  .github/workflows/daily_reports_levm_hive.yaml
  .gitignore
  Dockerfile
  cmd/ethrex/Cargo.toml
  cmd/ethrex/ethrex.rs
  crates/blockchain/Cargo.toml
  crates/common/types/account.rs
  crates/l2/Makefile
  crates/storage/store/storage.rs
  crates/vm/Cargo.toml
  crates/vm/levm/Makefile
  crates/vm/vm.rs
Labels: levm

#1572 fix(levm): modexp pass only first 32 bytes to gas_cost, fix get_slice_or_default
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
Labels: levm

#1563 feat(levm): implement precompile blake2f
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/tests/tests.rs
Labels: levm

#1574 fix(levm): change chainid from 1729 to 1, add 1 ignored test
  cmd/ef_tests/levm/parser.rs
  cmd/ef_tests/levm/runner/levm_runner.rs
Labels: levm

#1569 feat(levm): implement precompile point evaluation
  Cargo.lock
  crates/vm/levm/Cargo.toml
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
Labels: levm

#1576 fix(levm): add comment in LEVM Makefile
  crates/vm/levm/Makefile
Labels: levm
