Repository lambdaclass/ethrex, pull requests merged in 2025-05, with the labels that each got.

#2644 docs(levm): add forks docs
  cmd/ef_tests/state/runner/mod.rs
  crates/vm/levm/docs/forks.md
Labels: docs, levm

#2639 fix(levm): propagate database errors
  crates/vm/errors.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/execution_handlers.rs
Labels: levm

#2643 refactor(l2): rewrite deployer and system contracts updater bins
  .github/workflows/main_prover.yaml
  .github/workflows/pr-main_l2.yaml
  Cargo.lock
  Cargo.toml
  README.md
  cmd/ef_tests/state/Cargo.toml
  cmd/ethrex/Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex_l2/Cargo.toml
  cmd/load_test/Cargo.toml
  cmd/loc/Cargo.toml
  crates/l2/.gitignore
  crates/l2/Makefile
  crates/l2/configs/sequencer_config_example.toml
  crates/l2/contracts/Cargo.toml
  crates/l2/contracts/bin/deployer/cli.rs
  crates/l2/contracts/bin/deployer/error.rs
  crates/l2/contracts/bin/deployer/main.rs
  crates/l2/contracts/bin/system_contracts_updater/cli.rs
  crates/l2/contracts/bin/system_contracts_updater/error.rs
  crates/l2/contracts/bin/system_contracts_updater/main.rs
  crates/l2/contracts/deployer.rs
  crates/l2/contracts/system_contracts_updater.rs
  crates/l2/contracts/utils.rs
  crates/l2/docker-compose-l2-store.overrides.yaml
  crates/l2/docker-compose-l2.yaml
  crates/l2/docs/README.md
  crates/l2/docs/prover.md
  crates/l2/docs/sequencer.md
  crates/l2/prover/bench/Cargo.toml
  crates/l2/prover/src/main.rs
  crates/l2/sdk/Cargo.toml
  crates/l2/sdk/src/sdk.rs
  crates/l2/tests/tests.rs
  crates/l2/utils/config/errors.rs
  crates/l2/utils/config/mod.rs
  crates/l2/utils/config/toml_parser.rs
Labels: L2

#2700 fix(l2): download solc fixed version in Dockerfile
  crates/l2/contracts/Dockerfile
Labels: bug, L2

#2681 refactor(l2): rewrite integration tests
  crates/l2/sdk/src/l1_to_l2_tx_data.rs
  crates/l2/sdk/src/sdk.rs
  crates/l2/tests/tests.rs
Labels: L2

#2613 docs(p2p): Update network docs
  crates/networking/docs/Network.md
Labels: docs, p2p

#2716 docs(levm): add some docs and delete unnecessary stuff
  crates/common/types/tx_fields.rs
  crates/vm/levm/docs/faq.md
  crates/vm/levm/docs/substate.md
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/environment.rs
  crates/vm/levm/src/lib.rs
  crates/vm/levm/src/memory.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/operations.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
Labels: docs

#2606 refactor(l2): replace sequencer config toml with CLI flags
  .github/workflows/main_prover.yaml
  .github/workflows/pr-main_l2.yaml
  Cargo.lock
  Cargo.toml
  README.md
  cmd/ef_tests/state/Cargo.toml
  cmd/ethrex/Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex/initializers.rs
  cmd/ethrex/l2/command.rs
  cmd/ethrex/l2/mod.rs
  cmd/ethrex/l2/options.rs
  cmd/ethrex_l2/Cargo.toml
  cmd/load_test/Cargo.toml
  cmd/loc/Cargo.toml
  crates/l2/.gitignore
  crates/l2/Makefile
  crates/l2/configs/sequencer_config_example.toml
  crates/l2/contracts/Cargo.toml
  crates/l2/contracts/bin/deployer/cli.rs
  crates/l2/contracts/bin/deployer/error.rs
  crates/l2/contracts/bin/deployer/main.rs
  crates/l2/contracts/bin/system_contracts_updater/cli.rs
  crates/l2/contracts/bin/system_contracts_updater/error.rs
  crates/l2/contracts/bin/system_contracts_updater/main.rs
  crates/l2/contracts/deployer.rs
  crates/l2/contracts/system_contracts_updater.rs
  crates/l2/contracts/utils.rs
  crates/l2/docker-compose-l2-store.overrides.yaml
  crates/l2/docker-compose-l2.yaml
  crates/l2/docs/README.md
  crates/l2/docs/prover.md
  crates/l2/docs/sequencer.md
  crates/l2/l2.rs
  crates/l2/prover/bench/Cargo.toml
  crates/l2/prover/src/main.rs
  crates/l2/sdk/Cargo.toml
  crates/l2/sdk/src/sdk.rs
  crates/l2/sequencer/block_producer.rs
  crates/l2/sequencer/configs.rs
  crates/l2/sequencer/errors.rs
  crates/l2/sequencer/l1_committer.rs
  crates/l2/sequencer/l1_proof_sender.rs
  crates/l2/sequencer/l1_watcher.rs
  crates/l2/sequencer/metrics.rs
  crates/l2/sequencer/mod.rs
  crates/l2/sequencer/proof_coordinator.rs
  crates/l2/tests/tests.rs
  crates/l2/utils/config/block_producer.rs
  crates/l2/utils/config/committer.rs
  crates/l2/utils/config/errors.rs
  crates/l2/utils/config/eth.rs
  crates/l2/utils/config/l1_watcher.rs
  crates/l2/utils/config/mod.rs
  crates/l2/utils/config/proof_coordinator.rs
  crates/l2/utils/config/toml_parser.rs
  crates/l2/utils/prover/save_state.rs
Labels: L2

#2740 fix(l2): `make deploy-l1`
  crates/l2/Makefile
Labels: L2

#2742 fix(l2): create `.env` if needed in contract deployer bin
  crates/l2/contracts/bin/deployer/main.rs
Labels: L2

#2510 feat(l2): config eth client through .toml
  cmd/ethrex/l2/options.rs
  crates/blockchain/blockchain.rs
  crates/blockchain/payload.rs
  crates/blockchain/smoke_test.rs
  crates/common/types/block.rs
  crates/l2/contracts/bin/deployer/cli.rs
  crates/l2/contracts/bin/deployer/main.rs
  crates/l2/prover/src/backends/exec.rs
  crates/l2/prover/src/prover.rs
  crates/l2/prover/tests/perf_zkvm.rs
  crates/l2/prover/zkvm/interface/pico/src/main.rs
  crates/l2/prover/zkvm/interface/sp1/src/main.rs
  crates/l2/prover/zkvm/interface/src/lib.rs
  crates/l2/sequencer/block_producer.rs
  crates/l2/sequencer/configs.rs
  crates/l2/sequencer/l1_committer.rs
  crates/l2/sequencer/proof_coordinator.rs
  crates/l2/utils/error.rs
  crates/l2/utils/test_data_io.rs
  crates/networking/rpc/clients/eth/mod.rs
  crates/networking/rpc/engine/fork_choice.rs
  crates/networking/rpc/eth/fee_market.rs
Labels: L2

#2755 fix(l2): panic when trying to read gpu info in bench crate
  .github/workflows/main_prover_l1.yaml
  Cargo.lock
  crates/l2/prover/bench/Cargo.toml
  crates/l2/prover/bench/Makefile
  crates/l2/prover/bench/src/main.rs
Labels: L2, ci

#2637 perf(l1): reduce transaction clone and Vec grow overhead in mempool
  CHANGELOG.md
  crates/blockchain/mempool.rs
  crates/blockchain/payload.rs
  crates/common/types/transaction.rs
Labels: performance

#2668 feat(l2): prove withdrawals
  Cargo.lock
  crates/l2/Makefile
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/contracts/src/l1/interfaces/IOnChainProposer.sol
  crates/l2/prover/Cargo.toml
  crates/l2/prover/bench/Cargo.toml
  crates/l2/prover/src/backends/exec.rs
  crates/l2/prover/src/backends/risc0.rs
  crates/l2/prover/zkvm/interface/Cargo.toml
  crates/l2/prover/zkvm/interface/pico/src/main.rs
  crates/l2/prover/zkvm/interface/risc0/src/main.rs
  crates/l2/prover/zkvm/interface/sp1/Cargo.lock
  crates/l2/prover/zkvm/interface/sp1/src/main.rs
  crates/l2/prover/zkvm/interface/src/lib.rs
  crates/l2/sdk/src/sdk.rs
  crates/l2/sequencer/l1_proof_sender.rs
  crates/l2/tests/tests.rs
Labels: L2, prover

#2765 fix(l2): disable RPC bench slack message
  .github/workflows/main_prover_l1.yaml
Labels: L2, ci

#2672 ci(l1): comment flaky snap sync test
  .github/workflows/pr-main_l1.yaml
Labels: ci

#2737 feat(l2): prove deposits
  crates/l2/Makefile
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/prover/src/backends/exec.rs
  crates/l2/prover/zkvm/interface/pico/src/main.rs
  crates/l2/prover/zkvm/interface/risc0/src/main.rs
  crates/l2/prover/zkvm/interface/sp1/src/main.rs
  crates/l2/prover/zkvm/interface/src/lib.rs
Labels: L2, prover

#2660 feat(l2): make L1 contracts upgradeable
  crates/l2/Makefile
  crates/l2/contracts/README.md
  crates/l2/contracts/bin/deployer/cli.rs
  crates/l2/contracts/bin/deployer/main.rs
  crates/l2/contracts/src/l1/CommonBridge.sol
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/contracts/src/l1/interfaces/ICommonBridge.sol
  crates/l2/contracts/src/l1/interfaces/IOnChainProposer.sol
  crates/l2/contracts/src/l2/CommonBridgeL2.sol
  crates/l2/docker-compose-l2.yaml
  crates/l2/sdk/src/sdk.rs
  crates/l2/tests/tests.rs
Labels: L2

#2771 refactor(l2): replace prover config toml with CLI flags
  .github/workflows/main_prover.yaml
  .github/workflows/pr-main_l2.yaml
  Cargo.lock
  crates/l2/.gitignore
  crates/l2/Cargo.toml
  crates/l2/Makefile
  crates/l2/configs/prover_client_config_example.toml
  crates/l2/contracts/bin/deployer/error.rs
  crates/l2/docs/README.md
  crates/l2/docs/prover.md
  crates/l2/prover/Cargo.toml
  crates/l2/prover/src/cli.rs
  crates/l2/prover/src/config.rs
  crates/l2/prover/src/errors.rs
  crates/l2/prover/src/lib.rs
  crates/l2/prover/src/main.rs
  crates/l2/prover/src/prover.rs
  crates/l2/utils/config/errors.rs
  crates/l2/utils/config/mod.rs
  crates/l2/utils/config/prover.rs
  crates/l2/utils/config/toml_parser.rs
  crates/l2/utils/error.rs
  crates/l2/utils/mod.rs
  crates/l2/utils/test_data_io.rs
Labels: L2, cli, prover

#2793 fix(core): remove hardcoded gas_limits use eth_estimateGas
  cmd/ethrex_l2/src/commands/wallet.rs
  cmd/load_test/src/main.rs
  crates/l2/sdk/src/sdk.rs
  crates/networking/rpc/clients/eth/mod.rs
Labels: tech debt

#2784 feat(l2): verify state roots
  crates/l2/Makefile
  crates/l2/contracts/bin/deployer/cli.rs
  crates/l2/contracts/bin/deployer/main.rs
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/docker-compose-l2.yaml
Labels: L2, prover

#2813 fix(l1, levm): propagate error that we were ignoring when getting account
  crates/vm/backends/levm/db.rs
Labels: levm

#2796 refactor(levm): refactor the main execution flow methods
  cmd/ef_tests/state/runner/levm_runner.rs
  crates/common/types/transaction.rs
  crates/vm/backends/levm/mod.rs
  crates/vm/backends/revm/mod.rs
  crates/vm/levm/bench/revm_comparison/src/lib.rs
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/db/gen_db.rs
  crates/vm/levm/src/execution_handlers.rs
  crates/vm/levm/src/hooks/default_hook.rs
  crates/vm/levm/src/hooks/l2_hook.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
Labels: tech debt, levm

#2803 fix(core): remove hardcoded max_fee_per_gas & max_priority_fee_per_gas
  cmd/ethrex_l2/src/commands/wallet.rs
  cmd/load_test/src/main.rs
  crates/l2/contracts/bin/deployer/main.rs
  crates/l2/sdk/src/l1_to_l2_tx_data.rs
  crates/l2/sdk/src/sdk.rs
  crates/networking/rpc/clients/eth/errors.rs
  crates/networking/rpc/clients/eth/mod.rs
Labels: tech debt

#2810 fix(l2): rebuild prover when necessary with init-prover
  crates/l2/Makefile
Labels: L2, prover

#2816 feat(l2): add flag to delay the watcher until a trusted block
  .github/workflows/pr-main_l2.yaml
  cmd/ethrex/l2/options.rs
  crates/l2/Makefile
  crates/l2/docker-compose-l2.yaml
  crates/l2/sequencer/configs.rs
  crates/l2/sequencer/l1_watcher.rs
Labels: L2, sequencer

#2830 fix(l2): failed compilation in crate prover/bench
  .github/workflows/pr-main_l2_prover.yaml
  crates/l2/prover/bench/src/cache.rs
  crates/l2/prover/bench/src/constants.rs
  crates/l2/prover/bench/src/main.rs
  crates/l2/prover/bench/src/rpc/db.rs
  crates/l2/prover/bench/src/rpc/mod.rs
Labels: L2, ci, prover

#2679 feat(l1): properly calculate `enr` sequence field
  Cargo.lock
  cmd/ethrex/Cargo.toml
  cmd/ethrex/ethrex.rs
  cmd/ethrex/initializers.rs
  cmd/ethrex/l2/command.rs
  cmd/ethrex/utils.rs
  crates/networking/p2p/discv4/server.rs
  crates/networking/p2p/network.rs
  crates/networking/p2p/types.rs
  crates/networking/rpc/utils.rs
Labels: p2p, L1

#2842 fix(levm): fix last blockchain tests for LEVM
  cmd/ef_tests/blockchain/tests/prague.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#2849 chore(l2): don't init metrics for l1 when using make init
  crates/blockchain/dev/Dockerfile
  crates/blockchain/dev/docker-compose-dev.yaml
  crates/blockchain/metrics/README.md
  crates/blockchain/metrics/docker-compose-metrics-l1-dev.overrides.yaml
  crates/l2/Makefile
Labels: tech debt, L2

#2840 feat(l1): capability negotation
  crates/networking/p2p/kademlia.rs
  crates/networking/p2p/network.rs
  crates/networking/p2p/peer_handler.rs
  crates/networking/p2p/rlpx/connection.rs
  crates/networking/p2p/rlpx/eth/backend.rs
  crates/networking/p2p/rlpx/p2p.rs
Labels: p2p, L1

#2837 fix(l2): correct private key for load test account
  cmd/load_test/src/main.rs
Labels: L2

#2684 refactor(levm): remove clones for account structs
  CHANGELOG.md
  crates/vm/backends/levm/mod.rs
  crates/vm/levm/src/db/cache.rs
  crates/vm/levm/src/db/gen_db.rs
  crates/vm/levm/src/hooks/default_hook.rs
  crates/vm/levm/src/hooks/l2_hook.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
Labels: performance, levm

#2865 ci(l2): fix L2 sp1 prover integration test steps were skipped on merge to main
  .github/workflows/main_prover.yaml
Labels: L2, ci, prover

#2859 fix(levm): fix eip 7702 logic around touched_accounts
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/hooks/default_hook.rs
  crates/vm/levm/src/hooks/l2_hook.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
Labels: levm, L1

#2848 perf(core): make disklayer in snapshots use the database
  CHANGELOG.md
  crates/l2/prover/bench/src/rpc/mod.rs
  crates/storage/api.rs
  crates/storage/snapshot/difflayer.rs
  crates/storage/snapshot/disklayer.rs
  crates/storage/snapshot/error.rs
  crates/storage/snapshot/tree.rs
  crates/storage/store.rs
  crates/storage/store_db/in_memory.rs
  crates/storage/store_db/libmdbx.rs
  crates/storage/store_db/redb.rs
Labels: performance

#2871 chore(levm): update state tests and make state use blockchain's tests
  cmd/ef_tests/blockchain/.fixtures_url
  crates/vm/levm/Makefile
Labels: ef-tests

#2825 perf(l2): remove cloning state for limiting batch size
  Cargo.lock
  crates/blockchain/error.rs
  crates/blockchain/payload.rs
  crates/l2/Cargo.toml
  crates/l2/prover/zkvm/interface/sp1/Cargo.lock
  crates/l2/sequencer/block_producer/payload_builder.rs
  crates/l2/sequencer/errors.rs
  crates/l2/sequencer/state_diff.rs
  crates/networking/rpc/engine/payload.rs
  crates/vm/backends/levm/mod.rs
  crates/vm/backends/mod.rs
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/db/gen_db.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
Labels: tech debt, L2

#2868 refactor(l2): remove all based features
  Cargo.lock
  cmd/ethrex/Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex/ethrex.rs
  cmd/ethrex/initializers.rs
  cmd/ethrex/l2/mod.rs
  cmd/ethrex/l2/options.rs
  cmd/ethrex/lib.rs
  crates/l2/Makefile
  crates/networking/rpc/Cargo.toml
  crates/networking/rpc/based/env.rs
  crates/networking/rpc/based/frag.rs
  crates/networking/rpc/based/mod.rs
  crates/networking/rpc/based/seal.rs
  crates/networking/rpc/based/versioned_message.rs
  crates/networking/rpc/engine/fork_choice.rs
  crates/networking/rpc/engine/payload.rs
  crates/networking/rpc/eth/transaction.rs
  crates/networking/rpc/lib.rs
  crates/networking/rpc/rpc.rs
  crates/networking/rpc/utils.rs
Labels: L2, based

#2890 chore(levm): remove unnecessary spurious dragon check when adding blocks in batch
  crates/blockchain/blockchain.rs
Labels: tech debt, levm, L1

#2884 docs(levm): add docs explaining types of errors in the EVM
  crates/vm/levm/docs/faq.md
Labels: docs, levm

#2910 feat(l1): add code offset by capability
  crates/networking/p2p/rlpx/eth/blocks.rs
  crates/networking/p2p/rlpx/eth/receipts.rs
  crates/networking/p2p/rlpx/eth/status.rs
  crates/networking/p2p/rlpx/eth/transactions.rs
  crates/networking/p2p/rlpx/message.rs
  crates/networking/p2p/rlpx/snap.rs
Labels: p2p, L1

#2829 perf(l1,levm): add immutable cache for speeding up getting account updates
  CHANGELOG.md
  crates/vm/backends/levm/mod.rs
  crates/vm/levm/bench/revm_comparison/src/lib.rs
  crates/vm/levm/src/db/gen_db.rs
  crates/vm/levm/src/errors.rs
Labels: performance, levm

#2900 fix(levm): fix precompiles problem with eip7702
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#2921 ci(l2): fix SP1 integration test
  .github/workflows/main_prover.yaml
Labels: L2, ci, prover

#2654 feat(l1): add eth to enr
  cmd/ethrex/initializers.rs
  crates/common/types/fork_id.rs
  crates/networking/p2p/discv4/lookup.rs
  crates/networking/p2p/discv4/server.rs
  crates/networking/p2p/network.rs
  crates/networking/p2p/rlpx/eth/backend.rs
  crates/networking/p2p/types.rs
  crates/storage/store.rs
Labels: p2p, L1

#2892 feat(l2): improve grafana dashboards
  cmd/ethrex/Cargo.toml
  cmd/ethrex/l2/command.rs
  crates/blockchain/mempool.rs
  crates/blockchain/metrics/api.rs
  crates/blockchain/metrics/docker-compose-metrics.yaml
  crates/blockchain/metrics/metrics_blocks.rs
  crates/blockchain/metrics/metrics_l2.rs
  crates/blockchain/metrics/metrics_transactions.rs
  crates/blockchain/metrics/mod.rs
  crates/blockchain/metrics/provisioning/grafana_provisioning/dashboards/dashboard_config_l2.yaml
  crates/blockchain/metrics/provisioning/grafana_provisioning/dashboards/l2_dashboards/blocks_dashboard.json
  crates/blockchain/metrics/provisioning/grafana_provisioning/dashboards/l2_dashboards/l2_overview.json
  crates/blockchain/payload.rs
  crates/l2/Cargo.toml
  crates/l2/sequencer/block_producer.rs
  crates/l2/sequencer/block_producer/payload_builder.rs
  crates/l2/sequencer/errors.rs
  crates/l2/sequencer/l1_committer.rs
  crates/l2/sequencer/metrics.rs
  crates/l2/sequencer/mod.rs
  crates/l2/storage/src/api.rs
  crates/l2/storage/src/rlp.rs
  crates/l2/storage/src/store.rs
  crates/l2/storage/src/store_db/in_memory.rs
  crates/l2/storage/src/store_db/libmdbx.rs
  crates/l2/storage/src/store_db/redb.rs
Labels: L2

#2940 fix(levm): return EVM error when block hash isn't found in the database
  crates/blockchain/vm.rs
  crates/l2/prover/bench/src/rpc/db.rs
  crates/vm/backends/levm/db.rs
  crates/vm/backends/revm/db.rs
  crates/vm/db.rs
  crates/vm/levm/src/db/mod.rs
  crates/vm/levm/src/opcode_handlers/block.rs
Labels: levm

#2833 chore(l2): use `Ownable2Step` instead of `Ownable`
  crates/l2/contracts/README.md
  crates/l2/contracts/bin/deployer/cli.rs
  crates/l2/contracts/bin/deployer/main.rs
  crates/l2/contracts/src/l1/CommonBridge.sol
  crates/l2/contracts/src/l1/OnChainProposer.sol
Labels: L2

#2941 fix(l1,levm): improve vm database methods
  crates/blockchain/vm.rs
  crates/l2/prover/bench/src/rpc/db.rs
  crates/vm/backends/levm/db.rs
  crates/vm/backends/levm/mod.rs
  crates/vm/backends/mod.rs
  crates/vm/backends/revm/db.rs
  crates/vm/db.rs
  crates/vm/levm/src/db/mod.rs
Labels: tech debt, levm

#2687 refactor(core): Refactor Patricia Merkle Trie (avoid compulsive hashing)
  CHANGELOG.md
  crates/common/trie/node.rs
  crates/common/trie/node/branch.rs
  crates/common/trie/node/extension.rs
  crates/common/trie/node/leaf.rs
  crates/common/trie/rlp.rs
  crates/common/trie/state.rs
  crates/common/trie/test_utils.rs
  crates/common/trie/trie.rs
  crates/common/trie/trie_iter.rs
  crates/common/trie/verify_range.rs
  crates/networking/p2p/sync.rs
  crates/networking/p2p/sync/state_healing.rs
  crates/networking/p2p/sync/storage_healing.rs
  crates/storage/store.rs
Labels: performance

#2955 ci(l1): added hive client list to use ethrex as baseimage
  .github/workflows/common_hive_reports.yaml
  .github/workflows/pr-main_l1.yaml
  Makefile
  crates/vm/levm/Makefile
  test_data/hive_clients.yml
Labels: ef-tests, L1

#2918 refactor(l1): move some tool crates to tooling folder
  .github/scripts/flamegraph_watcher.sh
  .github/scripts/publish_loc.sh
  .github/workflows/daily_loc.yaml
  .github/workflows/pr-main_l1.yaml
  .github/workflows/pr_loc.yaml
  Cargo.lock
  Cargo.toml
  Dockerfile
  Makefile
  README.md
  crates/l2/contracts/Cargo.toml
  crates/l2/contracts/bin/system_contracts_updater/main.rs
  crates/vm/levm/src/utils.rs
  tooling/genesis/Cargo.lock
  tooling/genesis/Cargo.toml
  tooling/genesis/src/genesis.rs
  tooling/genesis/src/lib.rs
  tooling/hive_report/Cargo.toml
  tooling/hive_report/src/main.rs
  tooling/load_test/Cargo.toml
  tooling/load_test/README.md
  tooling/load_test/src/main.rs
  tooling/loc/Cargo.toml
  tooling/loc/Makefile
  tooling/loc/src/main.rs
  tooling/loc/src/report.rs
  tools/Cargo.toml
Labels: ci

#2983 fix(levm): make `account_exists()` return a result
  cmd/ethrex_replay/src/rpc/db.rs
  crates/vm/backends/levm/db.rs
  crates/vm/backends/levm/mod.rs
  crates/vm/levm/src/db/mod.rs
Labels: levm
