Repository lambdaclass/ethrex, pull requests merged in 2025-01, with the labels that each got.

#1592 feat(levm): support Merge(paris) version
  Cargo.lock
  cmd/ef_tests/levm/runner/levm_runner.rs
  crates/vm/levm/Cargo.toml
  crates/vm/levm/src/environment.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/src/vm.rs
  crates/vm/vm.rs
Labels: levm

#1594 fix(levm): fix withdrawals hive tests
  crates/vm/vm.rs
Labels: levm

#1597 fix(l1): block gas limit
  crates/blockchain/payload.rs
Labels: L1

#1604 fix(levm): fix remaining hive tests execution with LEVM
  crates/vm/errors.rs
  crates/vm/vm.rs
Labels: ef-tests, levm

#1600 feat(levm): support Shanghai version
  cmd/ef_tests/levm/runner/levm_runner.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1518 feat(core): add metrics/observability with prometheus
  Cargo.lock
  cmd/ethrex/Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex/ethrex.rs
  cmd/ethrex_l2/src/commands/test.rs
  crates/blockchain/Cargo.toml
  crates/blockchain/dev/Dockerfile
  crates/blockchain/dev/docker-compose-dev.yaml
  crates/blockchain/metrics/Cargo.toml
  crates/blockchain/metrics/README.md
  crates/blockchain/metrics/api.rs
  crates/blockchain/metrics/docker-compose-metrics-l1-dev.overrides.yaml
  crates/blockchain/metrics/docker-compose-metrics-l2.overrides.yaml
  crates/blockchain/metrics/docker-compose-metrics.yaml
  crates/blockchain/metrics/metrics_transactions.rs
  crates/blockchain/metrics/mod.rs
  crates/blockchain/metrics/provisioning/grafana_provisioning/dashboards/dashboard.yaml
  crates/blockchain/metrics/provisioning/grafana_provisioning/dashboards/demo_dashboards/dashboard.json
  crates/blockchain/metrics/provisioning/grafana_provisioning/datasources/datasource.yaml
  crates/blockchain/metrics/provisioning/prometheus/prometheus_l1_dev.yaml
  crates/blockchain/metrics/provisioning/prometheus/prometheus_l2.yaml
  crates/blockchain/payload.rs
  crates/l2/.env.example
  crates/l2/Makefile
  crates/l2/docker-compose-l2.yaml
Labels: L2, L1

#1477 feat(l2): multiple provers in file
  Cargo.lock
  cmd/ethrex_l2/src/commands/prove.rs
  crates/l2/Cargo.toml
  crates/l2/Makefile
  crates/l2/proposer/errors.rs
  crates/l2/proposer/prover_server.rs
  crates/l2/prover/src/lib.rs
  crates/l2/prover/src/main.rs
  crates/l2/prover/src/prover.rs
  crates/l2/prover/src/prover_client.rs
  crates/l2/prover/zkvm/interface/sp1/elf/riscv32im-succinct-zkvm-elf
  crates/l2/utils/mod.rs
  crates/l2/utils/prover/errors.rs
  crates/l2/utils/prover/mod.rs
  crates/l2/utils/prover/proving_systems.rs
  crates/l2/utils/prover/save_state.rs
  crates/vm/execution_db.rs
Labels: L2

#1582 feat(l2): track locked balance in L2 integration test
  crates/l2/tests/tests.rs
  test_data/genesis-l2.json
Labels: L2

#1609 feat(levm): benchmark CI
  .github/workflows/ci_bench_levm.yaml
  crates/vm/levm/Makefile
Labels: levm

#1621 fix(l2): l2 ProverCI set the crates to optional
  Cargo.lock
  crates/blockchain/metrics/Cargo.toml
Labels: L2

#1579 feat(levm): improve precompiles code clarity
  crates/vm/levm/src/precompiles.rs
Labels: levm

#1583 feat(levm): run samply and flamegraph on ef_tests
  .gitignore
  cmd/ef_tests/levm/runner/mod.rs
  crates/vm/levm/Makefile
  crates/vm/levm/README.md
Labels: levm

#1635 feat(levm): main vs PR benchmark
  .github/workflows/ci_bench_levm.yaml
  crates/vm/levm/src/vm.rs
Labels: levm

#1647 feat(levm): implement EIP-2929 cold/warm storage access tracking for Berlin and later specs
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#1651 chore(levm): remove leftover dbg
  crates/vm/levm/src/vm.rs
Labels: levm

#1649 chore(l1): fix and update `axum` version
  Cargo.lock
  Cargo.toml
  crates/blockchain/metrics/Cargo.toml
  crates/networking/rpc/Cargo.toml
Labels: L1

#1648 chore(levm): update README.md
  crates/vm/levm/README.md
Labels: levm

#1653 ci(l1, l2, levm): add PR <> `main` lines of code comparison comment in PRs
  .github/workflows/ci_loc_pr.yaml
  Cargo.lock
  Makefile
  cmd/loc/Cargo.toml
  cmd/loc/src/main.rs
  cmd/loc/src/report.rs
Labels: levm, L2, L1

#1646 test(levm): pectra tests parser
  cmd/ef_tests/levm/deserialize.rs
  cmd/ef_tests/levm/parser.rs
  cmd/ef_tests/levm/report.rs
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/mod.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
  cmd/ef_tests/levm/types.rs
  crates/vm/levm/Makefile
Labels: ef-tests, levm

#1619 fix(l2): sdk deploy
  Cargo.lock
  Cargo.toml
  Makefile
  cmd/ef_tests/levm/Cargo.toml
  cmd/ethrex_l2/src/commands/test.rs
  cmd/ethrex_l2/src/commands/wallet.rs
  crates/l2/Makefile
  crates/l2/proposer/l1_watcher.rs
  crates/l2/prover/zkvm/interface/Cargo.toml
  crates/l2/sdk/src/calldata.rs
  crates/l2/sdk/src/eth_client/eth_sender.rs
  crates/l2/sdk/src/eth_client/mod.rs
  crates/l2/sdk/src/sdk.rs
  crates/l2/tests/tests.rs
  crates/vm/levm/Cargo.toml
Labels: L2

#1660 docs(levm): add tentative roadmap
  crates/vm/levm/README.md
Labels: levm

#1658 refactor(levm): ef test shell summaries
  cmd/ef_tests/levm/report.rs
Labels: levm

#1663 fix(levm): pre_merge_EFTest
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
Labels: ef-tests, levm

#1675 fix(levm): for pre Berlin don't use floor cost modexp
  crates/vm/levm/src/precompiles.rs
Labels: ef-tests, levm

#1665 feat(levm): increase calldata cost - EIP-7623
  crates/vm/levm/results_tests
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#1669 ci(l1, l2, levm): add crates loc summary to daily loc report
  cmd/loc/src/main.rs
  cmd/loc/src/report.rs
Labels: levm, L2, L1

#1681 docs(levm): update readme
  crates/vm/levm/Cargo.toml
  crates/vm/levm/README.md
  crates/vm/levm/bench/revm_comparison/Cargo.toml
Labels: levm

#1683 feat(levm): prague precompiles scaffolding
  crates/vm/levm/Cargo.toml
  crates/vm/levm/src/precompiles.rs
Labels: ef-tests, levm

#1607 refactor(levm): tidy integration with L1 code and separate LEVM logic from REVM's
  Cargo.lock
  crates/blockchain/blockchain.rs
  crates/l2/proposer/l1_committer.rs
  crates/vm/execution_db.rs
  crates/vm/vm.rs
Labels: levm

#1616 perf(levm): flamegraphs to l2 node for evm
  Makefile
  cmd/ethrex_l2/src/commands/test.rs
  test_data/private_keys.txt
Labels: levm, L2

#1702 fix(l1, l2, levm): `total_lines_changed` ambiguity
  cmd/loc/src/report.rs
Labels: levm, L2, L1

#1707 fix(l1, l2, levm): total lines removed printing
  cmd/loc/src/report.rs
Labels: levm, L2, L1

#1688 feat(levm): add precompile bls12_g1add
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#1715 ci(levm): send comment with EF test summary
  .github/workflows/ci_levm.yaml
Labels: levm

#1704 feat(levm): add precompile bls12_g1msm
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/tests/tests.rs
Labels: levm, pectra

#1721 fix(levm): run LEVM EF test summary poster only on PRs
  .github/workflows/ci_levm.yaml
Labels: levm

#1726 refactor(levm): remove multiple `into`s and `unwrap`s
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/precompiles.rs
Labels: levm

#1722 feat(levm): add precompile bls12_g2msm
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
Labels: ef-tests, levm

#1731 refactor(levm): remove redundant parse of coordinates
  crates/vm/levm/src/precompiles.rs
Labels: levm, refactor

#1733 feat(levm): add precompile bls12_pairing
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
Labels: ef-tests, levm

#1719 fix(l1): discovery server crash when decoding packets with malformed signature
  crates/common/rlp/error.rs
  crates/networking/p2p/discv4.rs
Labels: network, L1

#1735 ci(l2): l2 prover
  .github/workflows/ci_l2_prover.yaml
  crates/l2/prover/tests/perf_zkvm.rs
Labels: L2

#1753 chore(levm): add extra arg to run single test
  cmd/ef_tests/levm/runner/mod.rs
Labels: ef-tests, levm

#1747 feat(levm): add precompile bls12_map_fp2_to_g2
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
Labels: ef-tests, levm, pectra

#1767 fix(levm): remove unstable tests
  crates/vm/levm/Makefile
Labels: ef-tests, levm, pectra

#1770 fix(levm): return correct error on instrinsic gas too low
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm, pectra

#1765 chore(levm): update roadmap status
  crates/vm/levm/README.md
Labels: levm

#1773 ci(levm): process EVM EF tests result file until "Frontier" line
  .github/workflows/ci_levm.yaml
Labels: levm

#1754 fix(l1): ignore transactions from peers before sync
  .github/workflows/ci_l1.yaml
  crates/blockchain/fork_choice.rs
  crates/networking/p2p/rlpx/connection.rs
  crates/networking/rpc/engine/fork_choice.rs
  crates/networking/rpc/eth/client.rs
  crates/storage/store/engines/api.rs
  crates/storage/store/engines/in_memory.rs
  crates/storage/store/engines/libmdbx.rs
  crates/storage/store/engines/redb.rs
  crates/storage/store/engines/utils.rs
  crates/storage/store/storage.rs
Labels: L1

#1672 feat(levm): implement EIP7702 - Set EOA account code
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
  crates/vm/db.rs
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/db/mod.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
  crates/vm/vm.rs
Labels: levm, pectra

#1775 chore(levm): update LEVM roadmap
  crates/vm/levm/README.md
Labels: levm

#1784 fix(levm): get correct calldata in creation contracts
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#1782 feat(levm): implement EIP7691 - Blob throughput increase
  crates/common/types/block.rs
  crates/vm/levm/README.md
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm, pectra

#1798 perf(levm): automate flamegraph comparison
  .github/workflows/daily_reports.yaml
  .github/workflows/flamegraph_reporter.yaml
  cmd/ef_tests/levm/Cargo.toml
  pages/index.html
  pages/levm.html
  pages/script.js
Labels: performance, levm

#1796 refactor(levm): clean `vm.rs` file
  crates/vm/levm/bench/revm_comparison/src/lib.rs
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/lib.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/testing.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/edge_case_tests.rs
  crates/vm/levm/tests/tests.rs
Labels: levm, refactor

#1803 perf(levm): add more benchmarks to the suite
  .github/workflows/ci_bench_levm_in_pr.yaml
  .github/workflows/ci_levm.yaml
  Cargo.lock
  crates/vm/levm/.gitignore
  crates/vm/levm/Makefile
  crates/vm/levm/bench/revm_comparison/.gitignore
  crates/vm/levm/bench/revm_comparison/Cargo.toml
  crates/vm/levm/bench/revm_comparison/contracts/Factorial.sol
  crates/vm/levm/bench/revm_comparison/contracts/FactorialRecursive.sol
  crates/vm/levm/bench/revm_comparison/contracts/Fibonacci.sol
  crates/vm/levm/bench/revm_comparison/contracts/ManyHashes.sol
  crates/vm/levm/bench/revm_comparison/contracts/erc20/ERC20ApprovalTransfer.sol
  crates/vm/levm/bench/revm_comparison/contracts/erc20/ERC20Mint.sol
  crates/vm/levm/bench/revm_comparison/contracts/erc20/ERC20Transfer.sol
  crates/vm/levm/bench/revm_comparison/contracts/erc20/lib/Context.sol
  crates/vm/levm/bench/revm_comparison/contracts/erc20/lib/ERC20.sol
  crates/vm/levm/bench/revm_comparison/contracts/erc20/lib/IERC20.sol
  crates/vm/levm/bench/revm_comparison/contracts/erc20/lib/IERC20Metadata.sol
  crates/vm/levm/bench/revm_comparison/src/benchmark.rs
  crates/vm/levm/bench/revm_comparison/src/compile.rs
  crates/vm/levm/bench/revm_comparison/src/levm_factorial.rs
  crates/vm/levm/bench/revm_comparison/src/levm_fibonacci.rs
  crates/vm/levm/bench/revm_comparison/src/lib.rs
  crates/vm/levm/bench/revm_comparison/src/revm_factorial.rs
  crates/vm/levm/bench/revm_comparison/src/revm_fibonacci.rs
Labels: levm

#1826 fix(core): block producer in dev mode
  crates/blockchain/blockchain.rs
  crates/blockchain/payload.rs
  crates/common/types/block.rs
  crates/common/types/genesis.rs
  crates/networking/rpc/engine/payload.rs
  crates/networking/rpc/types/payload.rs
Labels: L1

#1824 refactor(levm): clean main execution loop
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/execution_handlers.rs
  crates/vm/levm/src/lib.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/bitwise_comparison.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/dup.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/exchange.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
Labels: levm, refactor

#1832 revert(l1): use levm flag for apply transaction function (#1755)
  crates/blockchain/payload.rs
Labels: L1

#1827 refactor(levm): generalize the incrementation of the pc
  cmd/ef_tests/levm/runner/revm_runner.rs
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/execution_handlers.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/bitwise_comparison.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/dup.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/exchange.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/edge_case_tests.rs
  crates/vm/levm/tests/tests.rs
Labels: refactor

#1830 chore(levm): update performance milestone
  crates/vm/levm/README.md
Labels: levm

#1843 refactor(levm): make `increase_consumed_gas` a callframe method instead of a VM method.
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/execution_handlers.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/bitwise_comparison.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/dup.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/exchange.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
Labels: levm, refactor

#1855 refactor(l2): fix typo: `start_l1_commiter` -> `start_l1_committer`
  crates/l2/proposer/l1_committer.rs
  crates/l2/proposer/mod.rs
Labels: L2, refactor

#1837 ci(levm): silence messages
  .github/scripts/hive_levm_revm_diff.sh
  .github/scripts/publish_hive.sh
  .github/scripts/publish_levm_hive.sh
  .github/workflows/ci_bench_levm_in_pr.yaml
  .github/workflows/ci_levm.yaml
  .github/workflows/common_hive_reports.yaml
  .github/workflows/daily_reports.yaml
  crates/vm/levm/src/vm.rs
Labels: levm

#1864 fix(l1): change the fork check for greater or equal rather than equal on beacon call
  crates/blockchain/payload.rs
  crates/vm/vm.rs
Labels: bug

#1856 ci(l2): fix `perf_zkvm` test
  crates/blockchain/payload.rs
  crates/common/types/block.rs
  crates/common/types/genesis.rs
  crates/l2/proposer/prover_server.rs
  crates/l2/prover/Makefile
  crates/l2/prover/tests/perf_zkvm.rs
  crates/l2/prover/zkvm/interface/sp1/elf/riscv32im-succinct-zkvm-elf
  crates/l2/utils/prover/save_state.rs
  crates/l2/utils/test_data_io.rs
  crates/networking/rpc/eth/mod.rs
  crates/networking/rpc/types/block.rs
  crates/networking/rpc/types/payload.rs
  crates/storage/store/storage.rs
  test_data/genesis-l2-old.json
  test_data/l2-loadtest.rlp
Labels: L2, L1
