Repository lambdaclass/ethrex, pull requests merged in 2025-04, with the labels that each got.

#2396 refactor(l1,levm): refactor state transtitions for LEVM
  crates/vm/backends/levm/mod.rs
  crates/vm/levm/Makefile
Labels: levm, L1

#2353 perf(l1,l2): avoid double RLP encoding.
  CHANGELOG.md
  crates/common/rlp/encode.rs
  crates/common/trie/Makefile
  perf_reports/2025-04-03.md
Labels: performance

#2368 perf(l1): release the table lock on ping
  CHANGELOG.md
  crates/networking/p2p/discv4/server.rs
Labels: performance

#2360 refactor(l2): ethrex l2 do not init the authrpc
  crates/l2/Makefile
  crates/networking/rpc/rpc.rs
Labels: L2, sequencer

#2412 docs(levm): add docs for database and cache
  crates/vm/levm/docs/database.md
Labels: docs, levm

#2436 fix(levm): try fix blockchain tests
  cmd/ef_tests/blockchain/test_runner.rs
  crates/common/types/requests.rs
  crates/vm/backends/levm/db.rs
  crates/vm/backends/levm/mod.rs
  crates/vm/backends/mod.rs
  crates/vm/backends/revm/mod.rs
  crates/vm/levm/src/hooks/default_hook.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#2455 fix(levm): fix last blockchain ef test
  crates/vm/levm/src/execution_handlers.rs
Labels: ef-tests, levm

#2471 feat(levm): fix gas refund on precompiles on success
  crates/vm/levm/src/execution_handlers.rs
Labels: ef-tests, levm

#2438 perf(core,levm): remove some unnecessary clones and make functions const
  CHANGELOG.md
  crates/common/rlp/error.rs
  crates/common/rlp/structs.rs
  crates/common/trie/db.rs
  crates/common/trie/nibbles.rs
  crates/common/trie/node/branch.rs
  crates/common/trie/node/extension.rs
  crates/common/trie/node/leaf.rs
  crates/common/trie/rlp.rs
  crates/common/trie/trie.rs
  crates/common/trie/verify_range.rs
  crates/vm/levm/src/hooks/default_hook.rs
  crates/vm/levm/src/utils.rs
Labels: performance

#2473 refactor(levm): refactor execution into being non-recursive
  cmd/ef_tests/blockchain/Makefile
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/execution_handlers.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
  crates/vm/levm/src/opcode_handlers/bitwise_comparison.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/dup.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/exchange.rs
  crates/vm/levm/src/opcode_handlers/keccak.rs
  crates/vm/levm/src/opcode_handlers/logging.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#2516 perf(core): transform the inline variant of NodeHash to a const sized array
  CHANGELOG.md
  crates/common/trie/node.rs
  crates/common/trie/node/branch.rs
  crates/common/trie/node/extension.rs
  crates/common/trie/node/leaf.rs
  crates/common/trie/node_hash.rs
  crates/common/trie/state.rs
  crates/common/trie/trie.rs
  crates/common/trie/trie_iter.rs
  crates/common/trie/verify_range.rs
  crates/networking/p2p/sync.rs
Labels: performance

#2487 fix(l2): adapt parsing signature to dynamic types
  crates/l2/contracts/deployer.rs
  crates/l2/sdk/src/calldata.rs
  crates/l2/tests/tests.rs
Labels: bug, tech debt, L2

#2555 feat(l2): use new state root to commit
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/contracts/src/l1/interfaces/IOnChainProposer.sol
  crates/l2/sequencer/l1_committer.rs
Labels: L2

#2572 ci(l1): comment flaky hive cancun engine test
  .github/workflows/pr-main_l1.yaml
Labels: ci

#2568 fix(levm): change CI check for EFTests because London doesn't pass 100% now
  .github/workflows/pr-main_l1.yaml
  .github/workflows/pr-main_levm.yaml
Labels: levm, ci

#2365 feat(l2): add validium mode
  .github/workflows/pr-main_l2.yaml
  crates/l2/Makefile
  crates/l2/configs/sequencer_config_example.toml
  crates/l2/contracts/deployer.rs
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/sequencer/l1_committer.rs
  crates/l2/utils/config/committer.rs
  crates/l2/utils/config/toml_parser.rs
Labels: L2

#2593 feat(levm): check logs when running ef tests
  cmd/ef_tests/state/runner/levm_runner.rs
Labels: ef-tests, levm

#2417 refactor(levm): implement cache rollback
  cmd/ef_tests/state/runner/levm_runner.rs
  cmd/ef_tests/state/utils.rs
  crates/l2/utils/prover/save_state.rs
  crates/vm/backends/levm/mod.rs
  crates/vm/backends/mod.rs
  crates/vm/levm/bench/revm_comparison/src/lib.rs
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/db/gen_db.rs
  crates/vm/levm/src/db/mod.rs
  crates/vm/levm/src/execution_handlers.rs
  crates/vm/levm/src/hooks/default_hook.rs
  crates/vm/levm/src/hooks/hook.rs
  crates/vm/levm/src/hooks/l2_hook.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
Labels: tech debt, levm

#2562 refactor(l2): use deposit hash as the tx hash for l2 txs
  crates/common/types/transaction.rs
  crates/l2/sequencer/errors.rs
  crates/l2/sequencer/l1_watcher.rs
Labels: L2

#2532 feat(l2): configure hard cap on L2 commit transactions
  crates/l2/configs/sequencer_config_example.toml
  crates/l2/contracts/deployer.rs
  crates/l2/docs/sequencer.md
  crates/l2/sequencer/l1_committer.rs
  crates/l2/sequencer/proof_coordinator.rs
  crates/l2/utils/config/eth.rs
  crates/l2/utils/config/toml_parser.rs
  crates/networking/rpc/clients/eth/mod.rs
Labels: L2

#2629 refactor(levm): use ethrex account types in LEVM
  cmd/ef_tests/state/report.rs
  cmd/ef_tests/state/runner/levm_runner.rs
  cmd/ef_tests/state/runner/mod.rs
  cmd/ef_tests/state/runner/revm_runner.rs
  crates/common/types/account.rs
  crates/l2/prover/bench/src/rpc/db.rs
  crates/vm/backends/levm/db.rs
  crates/vm/backends/levm/mod.rs
  crates/vm/levm/bench/revm_comparison/src/lib.rs
  crates/vm/levm/src/account.rs
  crates/vm/levm/src/call_frame.rs
  crates/vm/levm/src/db/cache.rs
  crates/vm/levm/src/db/gen_db.rs
  crates/vm/levm/src/db/mod.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/hooks/default_hook.rs
  crates/vm/levm/src/hooks/l2_hook.rs
  crates/vm/levm/src/lib.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#2589 docs(l2): add quick handsOn on bridging assets between L1 and L2
  crates/l2/docs/README.md
  crates/l2/docs/contracts.md
Labels: docs, L2

#2582 docs(l2): clarify config parameters
  crates/l2/docs/sequencer.md
Labels: docs, L2

#2564 feat(l1): properly format client version
  Cargo.lock
  cmd/ethrex/Cargo.toml
  cmd/ethrex/build.rs
  cmd/ethrex/cli.rs
  cmd/ethrex/initializers.rs
  cmd/ethrex/utils.rs
  crates/networking/p2p/discv4/server.rs
  crates/networking/p2p/network.rs
  crates/networking/p2p/rlpx/connection.rs
  crates/networking/p2p/rlpx/handshake.rs
  crates/networking/p2p/rlpx/p2p.rs
  crates/networking/rpc/admin/mod.rs
  crates/networking/rpc/eth/gas_price.rs
  crates/networking/rpc/eth/max_priority_fee.rs
  crates/networking/rpc/lib.rs
  crates/networking/rpc/rpc.rs
  crates/networking/rpc/utils.rs
  crates/networking/rpc/web3/mod.rs
Labels: p2p, L1

#2508 refactor(levm,l2): hooks
  cmd/ef_tests/state/Cargo.toml
  cmd/ef_tests/state/runner/levm_runner.rs
  crates/vm/backends/levm/mod.rs
  crates/vm/levm/src/environment.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/hooks/default_hook.rs
  crates/vm/levm/src/hooks/l2_hook.rs
  crates/vm/levm/src/hooks/mod.rs
  crates/vm/levm/src/vm.rs
Labels: tech debt, L2
