Repository lambdaclass/ethrex, pull requests merged in 2025-02, with the labels that each got.

#1817 fix(l1, levm): fix hive regression when using levm
  crates/blockchain/Cargo.toml
  crates/blockchain/payload.rs
Labels: L1

#1850 refactor(levm): rename `transact` function to `execute`.
  cmd/ef_tests/levm/report.rs
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/mod.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
  crates/vm/levm/bench/revm_comparison/src/lib.rs
  crates/vm/levm/src/errors.rs
  crates/vm/levm/src/execution_handlers.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/edge_case_tests.rs
  crates/vm/levm/tests/tests.rs
  crates/vm/vm.rs
Labels: levm

#1860 feat(levm): add support for EIP-7840 and add `EVMConfig` to LEVM.
  Cargo.lock
  cmd/ef_tests/levm/runner/levm_runner.rs
  crates/blockchain/payload.rs
  crates/vm/levm/README.md
  crates/vm/levm/src/constants.rs
  crates/vm/levm/src/environment.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/push.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
  crates/vm/levm/tests/tests.rs
  crates/vm/vm.rs
Labels: levm

#1870 feat(levm): add legacy tests to the suite
  .github/workflows/ci_levm.yaml
  cmd/ef_tests/levm/deserialize.rs
  cmd/ef_tests/levm/report.rs
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/mod.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
  cmd/ef_tests/levm/types.rs
  crates/common/types/genesis.rs
  crates/vm/levm/Makefile
Labels: ef-tests, levm

#1884 chore(core): add evm flag to ethrex
  Makefile
  cmd/ethrex/cli.rs
Labels: L1

#1871 refactor(l1): refactor withdrawals and beacon root call
  crates/blockchain/payload.rs
Labels: levm, L1, refactor

#1869 feat(levm): add hooks support and implement `DefaultHook`
  crates/vm/levm/src/execution_handlers.rs
  crates/vm/levm/src/hooks/default_hook.rs
  crates/vm/levm/src/hooks/hook.rs
  crates/vm/levm/src/hooks/mod.rs
  crates/vm/levm/src/lib.rs
  crates/vm/levm/src/opcode_handlers/block.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/utils.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1861 refactor(l1,l2,levm): add evm cli arg instead of flag
  .github/workflows/ci_l1.yaml
  .github/workflows/ci_levm.yaml
  .github/workflows/common_hive_reports.yaml
  .github/workflows/flamegraph_reporter.yaml
  Makefile
  README.md
  cmd/ef_tests/levm/Cargo.toml
  cmd/ef_tests/levm/runner/levm_runner.rs
  cmd/ef_tests/levm/runner/revm_runner.rs
  cmd/ef_tests/levm/utils.rs
  cmd/ethrex/Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex/ethrex.rs
  crates/blockchain/Cargo.toml
  crates/blockchain/blockchain.rs
  crates/blockchain/payload.rs
  crates/l2/Makefile
  crates/l2/proposer/l1_committer.rs
  crates/networking/rpc/eth/mod.rs
  crates/networking/rpc/eth/transaction.rs
  crates/vm/Cargo.toml
  crates/vm/backends/levm.rs
  crates/vm/backends/mod.rs
  crates/vm/backends/revm.rs
  crates/vm/db.rs
  crates/vm/errors.rs
  crates/vm/execution_db.rs
  crates/vm/levm/Makefile
  crates/vm/vm.rs
Labels: levm, L1

#1891 feat(levm): pre berlin gas cost added
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: ef-tests, levm

#1903 fix(levm): fix ef tests deserialize
  cmd/ef_tests/state/deserialize.rs
  cmd/ef_tests/state/report.rs
Labels: ef-tests, levm

#1893 fix(levm): fix eip-150's balance & extcodesize
  crates/vm/levm/src/gas_cost.rs
Labels: ef-tests, levm

#1919 feat(levm): add support for eip3651_warm_coinbase test suite
  crates/vm/levm/src/gas_cost.rs
Labels: ef-tests, levm

#1924 ci(levm): add pipefail option to stop job execution if compilation fails
  .github/workflows/ci_bench_levm_in_pr.yaml
  .github/workflows/ci_levm.yaml
  .github/workflows/daily_reports.yaml
Labels: levm

#1929 feat(levm): add support for stBugs test suite
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
Labels: ef-tests, levm

#1902 refactor(core): --dev mode and InMemory with CLI args
  Makefile
  README.md
  cmd/ethrex/Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex/ethrex.rs
  crates/blockchain/dev/docker-compose-dev.yaml
  crates/storage/store/storage.rs
Labels: CLI

#1925 ci(levm): remove additional ef-test run in benchmarks job
  .github/scripts/compare_ef_tests.sh
  .github/workflows/ci_bench_levm_in_pr.yaml
  .github/workflows/ci_levm.yaml
Labels: levm

#1933 fix(levm): add support for yul and stSStoreTest
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/utils.rs
Labels: ef-tests, levm

#1935 refactor(levm): clean out address_access_cost
  crates/vm/levm/src/gas_cost.rs
Labels: levm

#1942 fix(levm): add suport for `stCreate2`
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/system.rs
  crates/vm/levm/src/precompiles.rs
  crates/vm/levm/tests/tests.rs
Labels: ef-tests, levm

#1944 ci(l2): prover perf-tests
  .github/workflows/ci_l2_prover.yaml
  crates/l2/prover/zkvm/.gitignore
  crates/l2/prover/zkvm/interface/sp1/elf/riscv32im-succinct-zkvm-elf
Labels: L2

#1910 fix(levm): fix gas costs eip150
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: ef-tests, levm

#1943 fix(levm): fix sstore gas cost for old forks
  crates/vm/levm/src/gas_cost.rs
Labels: levm

#1948 fix(levm): disable arithmetic shifts for forks before `Constantinople`
  crates/vm/levm/src/opcode_handlers/bitwise_comparison.rs
Labels: levm

#1945 levm(ci): order forks chronologically
  cmd/ef_tests/state/report.rs
Labels: CLI

#1899 fix(levm): add suport for `stDelegatecallTestHomestead` test suite
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: ef-tests, levm

#1953 fix(levm): add fork checks for returndatacopy, returndatasize & staticcall
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: levm

#1952 fix(levm): disable opcodes in block.rs for old forks
  crates/vm/levm/src/opcode_handlers/block.rs
Labels: levm

#1959 fix(levm): increase support for stExtCodeHash test suite
  crates/vm/levm/src/opcode_handlers/system.rs
Labels: ef-tests, levm

#1957 fix(levm): add spurious dragon checks
  crates/vm/levm/src/execution_handlers.rs
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/arithmetic.rs
Labels: levm

#1954 fix(levm): add fork checks for account creation before spurious dragon
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/vm.rs
Labels: levm

#1970 fix(levm): add gas refunds for sstore in constantinople and pre berlin forks.
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/opcode_handlers/stack_memory_storage_flow.rs
Labels: ef-tests, levm

#1969 fix(levm): increase support for `stPreCompiledContracts` and `stPreCompiledContracts2`
  crates/vm/levm/src/gas_cost.rs
  crates/vm/levm/src/precompiles.rs
Labels: ef-tests, levm

#1982 chore(l2): fix typo
  crates/common/types/transaction.rs
  crates/networking/rpc/types/transaction.rs
Labels: L2

#1985 feat(levm): add a warning when REVM fails an EF-test and ignore tests
  cmd/ef_tests/state/parser.rs
  cmd/ef_tests/state/report.rs
  cmd/ef_tests/state/runner/mod.rs
  cmd/ef_tests/state/runner/revm_runner.rs
Labels: levm

#1971 chore(l2): improve docs and fix Makefiles
  .github/workflows/flamegraph_reporter.yaml
  Makefile
  cmd/ethrex_l2/rust-toolchain.toml
  crates/l2/Makefile
  crates/l2/docs/README.md
  crates/l2/docs/proposer.md
  crates/l2/docs/prover.md
  scripts/flamegraph.sh
Labels: L2

#1984 refactor(l1, l2): move rpc clients to `rpc/clients` module temporarily
  Cargo.lock
  cmd/ethrex_l2/src/commands/info.rs
  cmd/ethrex_l2/src/commands/test.rs
  cmd/ethrex_l2/src/commands/wallet.rs
  crates/blockchain/dev/block_producer.rs
  crates/blockchain/dev/dev.rs
  crates/blockchain/dev/utils/mod.rs
  crates/l2/contracts/Cargo.toml
  crates/l2/contracts/deployer.rs
  crates/l2/proposer/errors.rs
  crates/l2/proposer/l1_committer.rs
  crates/l2/proposer/l1_watcher.rs
  crates/l2/proposer/metrics.rs
  crates/l2/proposer/mod.rs
  crates/l2/proposer/prover_server.rs
  crates/l2/sdk/src/calldata.rs
  crates/l2/sdk/src/sdk.rs
  crates/l2/tests/tests.rs
  crates/l2/utils/config/errors.rs
  crates/networking/rpc/Cargo.toml
  crates/networking/rpc/clients/auth/config.rs
  crates/networking/rpc/clients/auth/errors.rs
  crates/networking/rpc/clients/auth/mod.rs
  crates/networking/rpc/clients/eth/errors.rs
  crates/networking/rpc/clients/eth/eth_sender.rs
  crates/networking/rpc/clients/eth/mod.rs
  crates/networking/rpc/clients/mod.rs
  crates/networking/rpc/rpc.rs
Labels: L2

#2007 feat(l1): add `new_from_genesis` method to `Store`
  crates/storage/store/storage.rs
Labels: L1

#2015 fix(levm): check if `current_excess_blob_gas` is None before unwrapping in ef-test comparison
  cmd/ef_tests/state/runner/revm_runner.rs
Labels: levm

#1949 refactor(l1): add enum that specifies EVM
  .github/workflows/common_hive_reports.yaml
  Cargo.lock
  cmd/ef_tests/state/runner/levm_runner.rs
  cmd/ef_tests/state/runner/mod.rs
  cmd/ef_tests/state/runner/revm_runner.rs
  crates/blockchain/Cargo.toml
  crates/blockchain/blockchain.rs
  crates/blockchain/payload.rs
  crates/l2/proposer/l1_committer.rs
  crates/l2/prover/zkvm/interface/risc0/src/main.rs
  crates/l2/prover/zkvm/interface/sp1/src/main.rs
  crates/vm/backends/constants.rs
  crates/vm/backends/levm.rs
  crates/vm/backends/mod.rs
  crates/vm/backends/revm_b.rs
  crates/vm/execution_db.rs
  crates/vm/levm/src/vm.rs
  crates/vm/vm.rs
Labels: levm, L1

#2014 fix(levm): increase support for `stRandom` test suite
  Cargo.lock
  cmd/ef_tests/state/runner/levm_runner.rs
  crates/vm/backends/levm.rs
  crates/vm/levm/src/environment.rs
  crates/vm/levm/src/opcode_handlers/block.rs
Labels: ef-tests, levm

#1705 feat(l2): add prover benchmarks from L1 RPC downloaded blocks
  .github/workflows/ci_l1.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/blockchain/dev/docker-compose-dev.yaml
  crates/l2/Cargo.toml
  crates/l2/proposer/prover_server.rs
  crates/l2/prover/Cargo.toml
  crates/l2/prover/Makefile
  crates/l2/prover/bench/.gitignore
  crates/l2/prover/bench/Cargo.toml
  crates/l2/prover/bench/Makefile
  crates/l2/prover/bench/src/cache.rs
  crates/l2/prover/bench/src/constants.rs
  crates/l2/prover/bench/src/lib.rs
  crates/l2/prover/bench/src/main.rs
  crates/l2/prover/bench/src/rpc/db.rs
  crates/l2/prover/bench/src/rpc/mod.rs
  crates/l2/prover/src/prover.rs
  crates/l2/prover/tests/perf_zkvm.rs
  crates/l2/prover/zkvm/interface/Cargo.toml
  crates/l2/prover/zkvm/interface/build.rs
  crates/l2/prover/zkvm/interface/risc0/Cargo.toml
  crates/l2/prover/zkvm/interface/risc0/src/main.rs
  crates/l2/prover/zkvm/interface/sp1/Cargo.toml
  crates/l2/prover/zkvm/interface/sp1/src/main.rs
  crates/l2/prover/zkvm/interface/src/lib.rs
  crates/l2/utils/prover/proving_systems.rs
  crates/l2/utils/test_data_io.rs
  crates/vm/backends/revm_b.rs
  crates/vm/db.rs
  crates/vm/execution_db.rs
  test_data/genesis-l1-dev.json
  test_data/genesis-l2.json
  test_data/l2-loadtest.rlp
Labels: L2

#2074 ci(l1): run sync suite with both snap sync and full sync
  .github/workflows/ci_l1.yaml
Labels: L1, ci

#1990 fix(l1): p2p pooled transactions
  .github/config/assertoor/el-stability-check.yaml
  .github/workflows/ci_l1.yaml
  crates/common/types/transaction.rs
  crates/networking/p2p/rlpx/connection.rs
  crates/networking/p2p/rlpx/eth/transactions.rs
  crates/networking/rpc/engine/fork_choice.rs
  crates/storage/store/error.rs
  crates/storage/store/store.rs
Labels: L1

#1992 feat(l2): based portal
  Cargo.lock
  cmd/ethrex/Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex/ethrex.rs
  crates/l2/Makefile
  crates/l2/proposer/errors.rs
  crates/l2/proposer/mod.rs
  crates/networking/rpc/Cargo.toml
  crates/networking/rpc/clients/auth/mod.rs
  crates/networking/rpc/engine/fork_choice.rs
  crates/networking/rpc/engine/payload.rs
  crates/networking/rpc/eth/filter.rs
  crates/networking/rpc/eth/gas_price.rs
  crates/networking/rpc/eth/max_priority_fee.rs
  crates/networking/rpc/eth/transaction.rs
  crates/networking/rpc/rpc.rs
  crates/networking/rpc/utils.rs
Labels: L2, based

#2075 fix(l2,l1): add a default prover backend when compiling ethrex
  crates/l2/prover/bench/Cargo.toml
  crates/l2/prover/bench/Makefile
  crates/l2/prover/bench/src/main.rs
Labels: L2, L1

#2006 fix(l1): support multiple rpc requests in a single request
  .github/workflows/ci_l1.yaml
  crates/networking/rpc/rpc.rs
Labels: L1

#2056 feat(l2): add utils to the cli
  cmd/ethrex_l2/src/cli.rs
  cmd/ethrex_l2/src/commands/mod.rs
  cmd/ethrex_l2/src/commands/utils.rs
Labels: L2, cli

#2106 fix(l2): fix sp1 version error, bump
  .github/workflows/ci_l2_prover.yaml
Labels: L2

#2089 refactor(l1): move mempool from Store to Blockchain
  cmd/ethrex/ethrex.rs
  crates/blockchain/blockchain.rs
  crates/blockchain/mempool.rs
  crates/blockchain/payload.rs
  crates/l2/proposer/l1_watcher.rs
  crates/l2/proposer/mod.rs
  crates/networking/p2p/discv4/server.rs
  crates/networking/p2p/network.rs
  crates/networking/p2p/rlpx/connection.rs
  crates/networking/p2p/rlpx/eth/transactions.rs
  crates/networking/p2p/rlpx/handshake.rs
  crates/networking/rpc/engine/fork_choice.rs
  crates/networking/rpc/eth/account.rs
  crates/networking/rpc/eth/filter.rs
  crates/networking/rpc/eth/gas_price.rs
  crates/networking/rpc/eth/max_priority_fee.rs
  crates/networking/rpc/eth/transaction.rs
  crates/networking/rpc/rpc.rs
  crates/networking/rpc/utils.rs
  crates/storage/store.rs
Labels: tech debt, L1

#2110 refactor(l1): make Blockchain an Arc<Blockchain>
  Cargo.lock
  cmd/ethrex/ethrex.rs
  crates/blockchain/blockchain.rs
  crates/blockchain/mempool.rs
  crates/l2/proposer/l1_watcher.rs
  crates/l2/proposer/mod.rs
  crates/networking/p2p/discv4/server.rs
  crates/networking/p2p/network.rs
  crates/networking/p2p/rlpx/connection.rs
  crates/networking/p2p/sync.rs
  crates/networking/rpc/eth/filter.rs
  crates/networking/rpc/eth/gas_price.rs
  crates/networking/rpc/eth/max_priority_fee.rs
  crates/networking/rpc/rpc.rs
  crates/networking/rpc/utils.rs
Labels: tech debt, L1
