Repository lambdaclass/ethrex, pull requests merged in 2025-03, with the labels that each got.

#2109 refactor(l1, l2): abstract common logic
  cmd/ethrex/launch/common.rs
  cmd/ethrex/launch/l1.rs
  cmd/ethrex/launch/l2.rs
  cmd/ethrex/launch/mod.rs
Labels: tech debt, L2, L1

#2159 feat(l1): import subcommand
  cmd/ethrex/cli.rs
  cmd/ethrex/ethrex.rs
  cmd/ethrex/initializers.rs
  cmd/ethrex/subcommands/import.rs
  cmd/ethrex/subcommands/mod.rs
  cmd/ethrex/subcommands/removedb.rs
Labels: cli, L1

#2172 fix(levm): engine hive regression
  crates/vm/backends/levm.rs
  crates/vm/db.rs
Labels: levm, L1

#2173 fix(core): `removedb` cmd
  cmd/ethrex/ethrex.rs
  cmd/ethrex/subcommands/removedb.rs
Labels: L2, cli, L1

#2133 fix(l2): check if `AccountUpdate`'s `AccountInfo` is `None` in l1 committer.
  crates/l2/proposer/errors.rs
  crates/l2/proposer/l1_committer.rs
Labels: bug, L2

#2177 chore(l1): remove --import and --import_dir
  Makefile
  cmd/ethrex/cli.rs
  cmd/ethrex/ethrex.rs
  cmd/ethrex/initializers.rs
  cmd/ethrex/subcommands/import.rs
Labels: cli, L1

#2175 chore(l1): create a `L1_CLIENT` environment variable for hive tests.
  Makefile
Labels: L1

#2120 feat(core): perf changelog and CI
  .gitattributes
  .github/workflows/ci_bench_block_execution.yaml
  .github/workflows/perf_changelog.yml
  CHANGELOG.md
  test_data/2000-blocks.rlp
Labels: performance

#2160 test(levm): ensure behavior pairing check
  crates/vm/levm/tests/tests.rs
Labels: tech debt, levm

#2026 feat(l1): set max number of peers
  crates/networking/p2p/discv4/server.rs
  crates/networking/p2p/kademlia.rs
  crates/networking/p2p/rlpx/connection.rs
  crates/networking/p2p/rlpx/error.rs
  crates/networking/p2p/rlpx/p2p.rs
Labels: p2p, L1

#2141 docs(l2): update documentation with the new `config.toml` format.
  README.md
  crates/l2/docs/README.md
  crates/l2/docs/proposer.md
  crates/l2/docs/prover.md
Labels: docs, L2

#2202 feat(l1,l2): faster block.rlp file import
  CHANGELOG.md
  Cargo.toml
  cmd/ethrex/decode.rs
Labels: performance

#2196 chore(l1): revert conditional docker building logic
  Makefile
Labels: L1, ci

#2095 feat(l2): make deposits for the rich accounts
  cmd/ethrex_l2/src/commands/test.rs
  crates/l2/Makefile
  crates/l2/contracts/deployer.rs
  crates/l2/docker-compose-l2.yaml
  crates/l2/proposer/l1_watcher.rs
  crates/l2/prover/tests/perf_zkvm.rs
  crates/l2/tests/tests.rs
  crates/l2/utils/mod.rs
  crates/l2/utils/parse.rs
  test_data/genesis-l1-dev.json
  test_data/genesis-l2.json
  test_data/genesis-load-test.json
  test_data/private_keys_l1.txt
Labels: L2, L1

#2176 fix(levm, l1): fix hive tests rpc
  crates/vm/backends/levm/mod.rs
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#2230 feat(core): add `p2p.enabled` flag
  cmd/ethrex/cli.rs
  cmd/ethrex/ethrex.rs
Labels: L2, cli, L1

#1877 feat(levm): pectra-devnet6 eftests
  .github/workflows/ci_levm.yaml
  crates/vm/levm/Makefile
  crates/vm/levm/src/hooks/default_hook.rs
  crates/vm/levm/src/opcode_handlers/environment.rs
  crates/vm/levm/src/vm.rs
Labels: ef-tests, levm

#2257 chore(l2): remove db when restarting
  crates/l2/Makefile
Labels: L2

#2214 feat(l2): sponsored transaction endpoints
  Cargo.lock
  cmd/ethrex/Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex/initializers.rs
  crates/common/types/tx_fields.rs
  crates/networking/rpc/Cargo.toml
  crates/networking/rpc/eth/filter.rs
  crates/networking/rpc/eth/gas_price.rs
  crates/networking/rpc/eth/max_priority_fee.rs
  crates/networking/rpc/eth/mod.rs
  crates/networking/rpc/l2/mod.rs
  crates/networking/rpc/l2/transaction.rs
  crates/networking/rpc/rpc.rs
  crates/networking/rpc/utils.rs
  test_data/genesis-l2.json
Labels: L2

#2240 refactor(core): ethrex cli
  Cargo.lock
  README.md
  bench/criterion_benchmark.rs
  cmd/ethrex/Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex/ethrex.rs
  cmd/ethrex/initializers.rs
  cmd/ethrex/lib.rs
  cmd/ethrex/subcommands/import.rs
  cmd/ethrex/subcommands/mod.rs
  cmd/ethrex/subcommands/removedb.rs
  cmd/ethrex/utils.rs
  crates/networking/p2p/sync.rs
Labels: L2, cli, L1, based

#2271 chore(l2): fix lint
  Makefile
  cmd/ethrex_l2/src/commands/stack.rs
  cmd/ethrex_l2/src/commands/test.rs
Labels: L2, cli

#2281 refactor(l2): add flag for setting sponsor private key
  cmd/ethrex/Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex/initializers.rs
  cmd/ethrex/utils.rs
Labels: tech debt, L2, cli

#2293 feat(l2): `restart-testnet` target
  crates/l2/Makefile
Labels: L2

#2295 fix(l2): use absolute path for `.env` file
  crates/l2/contracts/deployer.rs
  crates/l2/parse_toml.rs
  crates/l2/utils/config/mod.rs
Labels: L2

#2274 feat(l2): add rpc endpoints for based sequencing
  Cargo.lock
  Cargo.toml
  cmd/ethrex/cli.rs
  cmd/ethrex/initializers.rs
  crates/networking/rpc/Cargo.toml
  crates/networking/rpc/based/env.rs
  crates/networking/rpc/based/frag.rs
  crates/networking/rpc/based/mod.rs
  crates/networking/rpc/based/seal.rs
  crates/networking/rpc/based/versioned_message.rs
  crates/networking/rpc/eth/filter.rs
  crates/networking/rpc/eth/gas_price.rs
  crates/networking/rpc/eth/max_priority_fee.rs
  crates/networking/rpc/rpc.rs
  crates/networking/rpc/utils.rs
Labels: L2, based

#2174 feat(l1): process blocks in batches when syncing and importing
  CHANGELOG.md
  crates/blockchain/blockchain.rs
  crates/common/trie/trie.rs
  crates/networking/p2p/peer_handler.rs
  crates/networking/p2p/sync.rs
  crates/storage/api.rs
  crates/storage/store.rs
  crates/storage/store_db/in_memory.rs
  crates/storage/store_db/libmdbx.rs
  crates/storage/store_db/redb.rs
  crates/vm/backends/mod.rs
  crates/vm/backends/revm/mod.rs
Labels: performance

#2250 refactor(l2): use levm for sp1 prover using a trait
  Cargo.lock
  cmd/ef_tests/state/runner/levm_runner.rs
  cmd/ef_tests/state/runner/revm_runner.rs
  crates/l2/Cargo.toml
  crates/l2/prover/Cargo.toml
  crates/l2/prover/bench/src/cache.rs
  crates/l2/prover/bench/src/main.rs
  crates/l2/prover/bench/src/rpc/db.rs
  crates/l2/prover/zkvm/interface/sp1/src/main.rs
  crates/l2/prover/zkvm/interface/src/lib.rs
  crates/l2/sequencer/prover_server.rs
  crates/l2/utils/prover/save_state.rs
  crates/vm/backends/levm/db.rs
  crates/vm/backends/levm/mod.rs
  crates/vm/backends/mod.rs
  crates/vm/backends/revm/db.rs
  crates/vm/backends/revm/execution_db.rs
  crates/vm/db.rs
  crates/vm/lib.rs
Labels: tech debt, L2

#2294 refactor(l2): handle ctrl_c internally and multiple connections
  crates/l2/sequencer/errors.rs
  crates/l2/sequencer/prover_server.rs
Labels: L2, prover

#2235 feat(l2): omit unneeded proofs
  crates/l2/contracts/src/l1/OnChainProposer.sol
  crates/l2/contracts/src/l1/interfaces/IOnChainProposer.sol
  crates/l2/sequencer/prover_server.rs
  crates/l2/utils/prover/proving_systems.rs
  crates/l2/utils/prover/save_state.rs
  crates/networking/rpc/clients/eth/mod.rs
Labels: L2, sequencer, prover

#2269 refactor(l2): separated configs for prover_client and sequencer
  .github/workflows/ci_l2.yaml
  cmd/ethrex/initializers.rs
  crates/l2/.gitignore
  crates/l2/Makefile
  crates/l2/configs/config_example.toml
  crates/l2/configs/prover_client_config_example.toml
  crates/l2/contracts/deployer.rs
  crates/l2/contracts/system_contracts_updater.rs
  crates/l2/docker-compose-l2.yaml
  crates/l2/docs/README.md
  crates/l2/docs/prover.md
  crates/l2/docs/sequencer.md
  crates/l2/errors.rs
  crates/l2/l2.rs
  crates/l2/prover/src/main.rs
  crates/l2/sequencer/mod.rs
  crates/l2/tests/tests.rs
  crates/l2/utils/config/errors.rs
  crates/l2/utils/config/mod.rs
  crates/l2/utils/config/toml_parser.rs
Labels: L2, sequencer, prover

#2268 perf(core): compute tx senders in parallel
  .github/workflows/ci_bench_block_execution.yaml
  CHANGELOG.md
  Cargo.lock
  crates/common/Cargo.toml
  crates/common/types/block.rs
  crates/vm/backends/levm/mod.rs
  crates/vm/backends/mod.rs
  crates/vm/backends/revm/mod.rs
Labels: performance

#2341 refactor(l2): rename proposer config with a more descriptive name
  crates/l2/configs/config_example.toml
  crates/l2/sequencer/block_producer.rs
  crates/l2/utils/config/block_producer.rs
  crates/l2/utils/config/toml_parser.rs
Labels: tech debt, L2

#2345 refactor(l2): rename prover client config to a more descriptive name
  crates/l2/configs/prover_client_config_example.toml
  crates/l2/prover/src/prover_client.rs
  crates/l2/utils/config/prover_client.rs
  crates/l2/utils/config/toml_parser.rs
Labels: tech debt, L2

#2344 feat(core): add metrics address config flag
  cmd/ethrex/cli.rs
  cmd/ethrex/initializers.rs
  crates/blockchain/metrics/api.rs
Labels: L2, cli, L1

#2339 fix(l2): config error handling
  .github/workflows/ci_l2.yaml
  README.md
  crates/l2/Makefile
  crates/l2/configs/sequencer_config_example.toml
  crates/l2/docker-compose-l2.yaml
  crates/l2/docs/README.md
  crates/l2/docs/prover.md
  crates/l2/docs/sequencer.md
  crates/l2/utils/config/errors.rs
  crates/l2/utils/config/mod.rs
  crates/l2/utils/config/toml_parser.rs
Labels: L2

#2324 refactor(l2, core): initial iteration for `l2` subcommand
  bench/criterion_benchmark.rs
  cmd/ethrex/cli.rs
  cmd/ethrex/ethrex.rs
  cmd/ethrex/initializers.rs
  cmd/ethrex/l2.rs
  cmd/ethrex/lib.rs
  crates/l2/Makefile
  crates/l2/docker-compose-l2.yaml
Labels: tech debt, L2, cli

#2348 fix(l2): prover_client_config parser
  crates/l2/configs/prover_client_config_example.toml
Labels: L2, prover

#2356 chore(l2): remove deprecated EngineApiConfig
  crates/l2/Makefile
  crates/l2/configs/sequencer_config_example.toml
  crates/l2/docs/sequencer.md
  crates/l2/utils/config/toml_parser.rs
  crates/networking/rpc/clients/auth/config.rs
  crates/networking/rpc/clients/auth/mod.rs
  crates/networking/rpc/clients/mod.rs
Labels: L2, sequencer
